@import '../../common/mixins';

@mixin spinner-keyframes($name, $num-dots: 6, $diameter: 6px, $gap: 12px) {
    $pixels: ($num-dots / 2) * ($diameter + $gap);
    @keyframes #{$name} {
        0% {
            opacity: 0;
            transform: rotate(0);
        }
        33% {
            opacity: 1;
            transform: rotate(180deg);
        }
        66% {
            opacity: 1;
            transform: rotate(180deg);
        }
        100% {
            opacity: 0;
            transform: rotate(360deg);
        }
    }
}

@mixin spinner-child($name, $num, $num-dots, $diameter, $gap, $duration, $delay, $timing) {
    $class-name: '.#{$name}';
    $inner-class-name: '#{$class-name}-inner';
    $padding: ($gap + $diameter) * ($num - 1);
    $total-delay: ($num-dots - $num) * $delay;

    #{$class-name} #{$inner-class-name}:nth-child(#{$num}) {
        animation: #{$name} $duration $total-delay infinite $timing;
        padding-left: $padding;
    }
}

@mixin spinner($name, $num-dots: 6, $diameter: 6px, $gap: 12px, $duration: 3s, $delay: 200ms, $timing: ease-in-out, $height: 20px, $color: black) {
    $class-name: '.#{$name}';
    $inner-class-name: '#{$class-name}-inner';

    @include spinner-keyframes($name, $num-dots, $diameter, $gap);

    #{$class-name} {
        @include md-box(inline-block, relative, hidden);
        height: 100%;
        width: 100%;
    }
    
    #{$inner-class-name} {
        @include md-box(inline-block, absolute);
        width: 100%;
        height: 100%;
        opacity: 1;
        // transform: rotate(45deg);
    }
    
    #{$inner-class-name} > div {
        @include md-box(inline-block, relative);
        width: $diameter;
        height: $diameter;
        border-radius: $diameter;
        background-color: $color;
        margin-left: auto;
        margin-right: auto;
    }

    @for $num from 1 through $num-dots {
        @include spinner-child($name, $num, $num-dots, $diameter, $gap, $duration, $delay, $timing);
    }
}

@include spinner('cs-loader');
