@import '../../theme/index';

$radio-input-size: 4*$grid-size;

$line-height: 4*$grid-size;

.radio-container {
    @include md-box(block, relative);
    font-family: $font-family-default;
    color: $color-text-default;
    font-size: $font-size-default;
    line-height: $line-height;

    & + &:not(.columns) {
        margin-top: 3*$grid-size;
    }

    &.columns {
        display: inline-block;

        margin-right: 2*$grid-size;
    }

    input {
        @include md-box(inline-block, absolute);
        top: 1px;
        left: 1px;

        width: 0px;
        height: 0px;
        border: none;
        outline: none;

        background-color: $color-bg-default;

        &:focus ~ .radio-button:not(.disabled) {
            outline: $outline-focus;
            outline-offset: 1px;
        }

        &:hover:not(:checked) ~ .radio-button:not(.disabled) {
            border: $border-active;
        }

        &:focus:not(:checked) ~ .radio-button {
            border: $border-active;
        }
    }

    .radio-text {
        @include md-box(inline-block, relative);
        vertical-align: top;
        padding-left: 2*$grid-size;
    }

    .radio-fill {
        @include md-box(inline-block, absolute);
        left: $grid-size;
        top: $grid-size;
        width: 2*$grid-size;
        height: 2*$grid-size;
        border-radius: $grid-size;

        &.selected {
            background-color: $color-bg-selected;

            &.disabled {
                background-color: $color-bg-disabled;
            }
        }
    }

    .radio-button {
        @include md-box(inline-block, relative);
        width: $radio-input-size;
        height: $radio-input-size;
        background-color: $color-bg-default;
        border-radius: $radio-input-size / 2;
        border: $border-default ;
        outline: none;
        vertical-align: top;

        &.selected {
            border: $border-selected;
        }

        &.disabled {
            border: $border-disabled;
        }
    }

    .radio-label {
        @include md-box(inline-block, relative);

        &.disabled {
            color: $color-text-disabled;
        }
    }

    &.hidden {
        display: none;
    }
}
