@import '../../common/constants';
@import '../../common/mixins';
@import '../../common/color.controls';

$line-height: 5*$grid-size;
$line-height-small: 4*$grid-size;


.text-input-container {
    @include md-box(flex, relative);
    width: 100%;
    font-family: $font-family-default;
    font-size: $font-size-default;
    line-height: $line-height;

    .input-container {
        @include md-box(block, relative);
        flex-grow: 1;
    }

    .input {
        @include md-box(block, relative);
        width: 100%;
        height: $input-height;
        padding: 2*$grid-size 2*$grid-size 2*$grid-size 3*$grid-size;
        @include themify{
            border: 1px solid themed('color-border-rest');
            color: themed('color-text-rest');
            background-color: themed('color-bg-input-rest');
        }
        outline: none;
        max-width: 100%;

        &:valid {
            padding: 2*$grid-size 3*$grid-size 2*$grid-size 3*$grid-size;
        }

        &:active, &:hover, &:focus {
            // inputs look really weird with a dashed outline, so standardize
            // on the solid selected border for all the above states:

            @include themify{
                border: 1px solid themed('color-border-selected');
            }
        }

        &:active, &:focus {
            &.show-cancel:not(:disabled) {
                padding-right: 8*$grid-size;

                + .cancel {
                    @include themify{
                        color: themed('color-text-clear');
                    }
                    pointer-events: auto;
                }
            }
        }

        @include themify{
            &:disabled {
                color: themed('color-text-disabled');
                border: 1px solid themed('color-border-disabled');
                background-color: themed('color-bg-input-disabled');
            }

            &::placeholder {
                color: themed('color-text-disabled');
            }

            &::placeholder {
                color: themed('color-text-placeholder');
            }

            &::selection {
                color: themed('color-text-white');
                background-color: themed('color-bg-item-selected');
            }

            &.error:not(:disabled) {
                border: 1px solid themed('color-border-error');
            }
        }

        &::-ms-clear {
            display: none;
        }

        &:invalid {
            box-shadow: none;
        }
    }

    .cancel {
        @include md-box(absolute, float-right);
        color: transparent;
        font-size: $font-size-small;
        line-height: $line-height-small;
        padding: $grid-size;
        top: $grid-size;
        right: 2*$grid-size;
        border: none;
        background-color: transparent;
        outline: none;
        pointer-events: none;
        cursor: pointer;

        &:active {
            @include themify{
                color: themed('color-text-clear');
            }
            pointer-events: auto;
        }

        &.no-cancel {
            display: none;
        }
    }

    .prefix {
        @include md-box(table-cell, relative);
        @include themify{
            color: themed('color-text-rest');
        }
        padding-right: 2*$grid-size;
        height: $input-height;
        line-height: $input-height;
        white-space: nowrap;
        flex-grow: 0;
    }

    .postfix {
        @include md-box(inline-block, relative);
        @include themify{
            color: themed('color-text-rest');
        }
        padding-left: 2*$grid-size;
        height: $input-height;
        line-height: $input-height;
        white-space: nowrap;
        flex-grow: 0;
    }
}

.prefix-addon {
    background-color: transparent;
    padding-right: 2*$grid-size;

    @include themify{
        border-left: 1px solid themed('color-border-rest');
        border-top:  1px solid themed('color-border-rest');
        border-bottom:  1px solid themed('color-border-rest');
        color: themed('color-text-rest');
    }
}

.postfix-addon {
    background-color: transparent;
    padding-left: 2*$grid-size;

    @include themify {
        border-right:  1px solid themed('color-border-rest');
        border-top:  1px solid themed('color-border-rest');
        border-bottom:  1px solid themed('color-border-rest');
        color: themed('color-text-rest');
    }
}
