@import '../../common/overrides';

$font-family: join('Segoe UI Semilight', $font-family-base);

$info-bg: #dcdcdc;
$warning-bg: #f9e385;
$error-bg: #d02e00;

$default-text: #333333;
$error-text: #ffffff;

.alert {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-sizing: border-box;

    width: 100%;
    height: 32px;
    
    background-color: $info-bg;
    color: $default-text;

    .icon {
        flex: 0 0 16px;
        margin: 8px;
        line-height: 16px;
        vertical-align: text-top;
    }

    .text {
        margin-top: 6px;
        margin-bottom: 8px;
        margin-right: 12px;

        font-family: $font-family;
        font-size: 16px;
        line-height: 16px;
        color: $default-text;

        width: 100%;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        & + .close {
            margin-left: 8px;
        }
    }

    .close {
        flex: 0 0 16px;
        margin-top: 8px;
        margin-right: 12px;
        margin-left: auto;
        line-height: 16px;
        vertical-align: middle;
        cursor: pointer;
    }

    &.fixed {
        width: 284px;
    }

    &.info {
        background-color: $info-bg;
        color: $default-text;
    }

    &.warning {
        background-color: $warning-bg;
        color: $default-text;
    }

    &.error {
        background-color: $error-bg;
        color: $error-text;
    }

    &.multiline {
        height: auto;

        .text {
            text-overflow: none;
            line-height: 20px;
            white-space: normal;
        }
    }
}