@import '../../common/overrides';
@import '../../common/mixins';

$font-family: join('Segoe UI Semilight', $font-family-base);

.alert {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    width: 100%;
    height: 32px;
    
    background-color: md-color(alert, info);
    color: md-color(shade, 3);

    .icon {
        font-family: "icons";
        font-style: normal;
        font-weight: normal;

        flex: 0 0 16px;
        margin: 8px;
        line-height: 16px;
        vertical-align: text-top;
    }

    .text {
        margin-top: 4px;
        margin-bottom: 8px;
        margin-right: 12px;

        font-family: $font-family;
        font-size: 16px;
        line-height: 20px;
        color: md-color(shade, 3);

        width: 100%;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        & + .close {
            margin-left: 8px;
        }
    }

    .close {
        flex: 0 0 16px;
        margin-top: 8px;
        margin-right: 12px;
        margin-left: auto;
        line-height: 16px;
        vertical-align: middle;
        cursor: pointer;
    }

    &.fixed {
        width: 284px;
    }

    &.info {
        background-color: md-color(alert, info);
        color: md-color(shade, 3);
    }

    &.warning {
        background-color: md-color(alert, warning);
        color: md-color(shade, 3);
    }

    &.error {
        background-color: md-color(alert, error);
        color: md-color(shade, f);

        .text {
            color: md-color(shade, f);
        }
    }

    &.multiline {
        height: auto;

        .text {
            text-overflow: none;
            line-height: 20px;
            white-space: normal;
        }
    }
}