dist/
docs/
src/
storybook-static/
method-design/
.sass-lint.yml
karma.conf.js
styleguide.config.js
tests.bundle.js
tsconfig.*
tslint.json
webpack.*.js

# no docs or tests
*.md
*.spec.*

// no .tsx or .ts files, but include .d.ts
*.tsx
*.ts
!*.d.ts
