// sass-lint:disable pseudo-element 
// sass-lint:disable force-pseudo-nesting 
// sass-lint:disable class-name-format
@import '../../theme/index';

%icon {
    font-style: normal;
    font-weight: normal;
    font-family: $font-family-default;
    
    &:before {
        @include md-box(inline-block, relative);
        font-family: $icon-font-family;
        text-decoration: none;
        vertical-align: middle;
    }

    & > span {
        @include md-box(inline-block, relative);
        vertical-align: middle;
        margin-left: 2*$gutter;
        margin-bottom: .5*$gutter;
    }
}

%centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-xsmall {
    @extend %icon;
    .icon-xsmall:before {
        font-size: $icon-size-xsmall;
    }

    &.centered {
        @extend %centered;
    }
}

.icon-small {
    @extend %icon;
    .icon-small:before {
        font-size: $icon-size-small;
    }

    &.centered {
        @extend %centered;
    }
}

.icon-medium {
    @extend %icon;
    .icon-medium:before {
        font-size: $icon-size-medium;
    }

    &.centered {
        @extend %centered;
    }
}

.icon-large {
    @extend %icon;
    .icon-large:before {
        font-size: $icon-size-large;
    }

    &.centered {
        @extend %centered;
    }
}

.icon-xlarge {
    @extend %icon;
    .icon-xlarge:before {
        font-size: $icon-size-xlarge;
    }

    &.centered {
        @extend %centered;
    }
}

.icon-xxlarge {
    @extend %icon;
    .icon-xxlarge:before {
        font-size: $icon-size-xxlarge;
    }

    &.centered {
        @extend %centered;
    }
}

.icon-background {
    @include circle($icon-size-medium);

    &.icon-xsmall {
        @include circle($icon-size-xsmall);
    }

    &.icon-small {
        @include circle($icon-size-small);
    }

    &.icon-medium {
        @include circle($icon-size-medium);
    }

    &.icon-large {
        @include circle($icon-size-large);
    }

    &.icon-xlarge {
        @include circle($icon-size-xlarge);
    }

    &.icon-xxlarge {
        @include circle($icon-size-xxlarge);
    }

    &.centered {
        @extend %centered;
    }
}
