@import '../../theme/index';

$component: md-component('toggle', (
    color: (
        label: (
            default: (color, neutral, primary, alt, 2),
            disabled: (color, neutral, tertiary),
        ),
        switch: (
            on: (
                default: (color, interactive, dark),
                disabled: (color, neutral, secondary, alt, 4),
            ),
            off: (
                default: (color, neutral, primary),
                disabled: (color, neutral, tertiary),
            ),
        )
    ),
    bg-color: (
        off: (color, white),
        on: (
            default: (color, interactive, default),
            hover: (color, interactive, hover),
            disabled: (color, neutral, tertiary, alt),
        )
    ),
    border: (
        on: (
            default: (border, toggle, on, default),
            hover: (border, toggle, on, hover),
            disabled: (border, toggle, on, disabled),
        ),
        off: (
            default: (border, toggle, off, default),
            hover: (border, toggle, off, hover),
            disabled: (border, toggle, off, disabled),
        ),
    ),
    outline: (
        focus: (outline, focus)
    ),
    transition: (
        switch: (transition, toggle, switch),
    ),
    font: (
        default: (font, default),
        size: (
            default: (font, size, default),
        ),
        line-height: (
            default: 14px
        ),
    ),
    size: (
        width: (size, toggle, width),
        height: (size, toggle, height),
        border-radius: (size, toggle, border-radius),
        switch: (
            border-radius: (size, toggle, switch, border-radius),
        ),
    )
));

.toggle {
    @include md-box(inline-block, relative);
    line-height: font(line-height, default);

    .toggle-button {
        @include md-box(inline-block, relative, fill-parent);
        vertical-align: middle;
        outline: none;
        border: border(off, default);
        background-color: bg-color(off);
        border-radius: size(border-radius);

        width: size(width);
        height: size(height);
        
        &:hover {
            border: border(off, hover);
            cursor: pointer;
        }
    }

    &:not(.disabled) .toggle-button:focus {
        outline: outline(focus);
        outline-offset: 1px;
    }

    .toggle-switch {
        @include md-box(block, absolute);
        left: 1.25*$gutter;
        top: 1.25*$gutter;

        width: 2.5*$grid;
        height: 2.5*$grid;
        border-radius: size(switch, border-radius);

        background-color: color(switch, on, default);
        transition: transition(switch);

        pointer-events: none;
    }

    .toggle-label { 
        @include md-box(inline-block, relative);
        margin-left: 2*$gutter;

        font-family: font(default);
        font-size: font(size, default);
        color: color(label, default);

        vertical-align: middle;
    }

    &.toggle-on {
        .toggle-button {
            border: border(on, default);
            background-color: bg-color(on, default);

            &:hover {
                border: border(on, hover);
                background-color: bg-color(on, hover);
            }
        }

        .toggle-switch {
            left: 25px;
            background-color: color(switch, on, default);
        }

        &.disabled {
            .toggle-button {
                border: border(on, disabled);
                background-color: bg-color(on, disabled);
            }
    
            .toggle-switch {
                background-color: color(switch, on, disabled);
            }
        }
    }

    &.disabled {
        .toggle-button {
            border: border(off, disabled);
            cursor: default;
        }

        .toggle-switch {
            background-color: color(switch, off, disabled);
        }

        .toggle-label {
            color: color(label, disabled);
        }
    }
}