@import '../../theme/index';

$toggle-border-on: 1px solid $color-interactive-default;
$toggle-border-on-hover: 1px solid $color-interactive-hover;
$toggle-border-on-disabled: 1px solid $color-neutral-tertiary-alt;

$toggle-border-off: 1px solid $color-neutral-secondary-alt;
$toggle-border-off-hover: 1px solid $color-neutral-primary;
$toggle-border-off-disabled: 1px solid $color-neutral-tertiary-alt;

$toggle-switch-transition: 75ms ease-in-out;

$toggle-width: 10*$grid;
$toggle-height: 5*$grid;
$toggle-border-radius: $toggle-height / 2;
$toggle-switch-border-radius: 5px;

$line-height: 3.5*$grid;

.toggle {
    @include md-box(inline-block, relative);
    line-height: $line-height;

    .toggle-button {
        @include md-box(inline-block, relative, fill-parent);
        vertical-align: middle;
        outline: none;
        border: $toggle-border-off;
        background-color: $color-bg-default;
        border-radius: $toggle-border-radius;

        width: $toggle-width;
        height: $toggle-height;
        
        &:hover {
            border: $toggle-border-off-hover;
            cursor: pointer;
        }
    }

    &:not(.disabled) .toggle-button:focus {
        outline: $outline-focus;
        outline-offset: 1px;
    }

    .toggle-switch {
        @include md-box(block, absolute);
        left: 1.25*$gutter;
        top: 1.25*$gutter;

        width: 2.5*$grid;
        height: 2.5*$grid;
        border-radius: $toggle-switch-border-radius;

        background-color: $color-text-default;
        transition: $toggle-switch-transition;

        pointer-events: none;
    }

    .toggle-label { 
        @include md-box(inline-block, relative);
        margin-left: 2*$gutter;

        font-family: $font-family-default;
        font-size: $font-size-text;
        color: $color-text-default;

        vertical-align: middle;
    }

    &.toggle-on {
        .toggle-button {
            border: $toggle-border-on;
            background-color: $color-bg-selected;

            &:hover {
                border: $toggle-border-on-selected-hover;
                background-color: $color-bg-selected-hover;
            }
        }

        .toggle-switch {
            left: 25px;
            background-color: $color-text-default
        }

        &.disabled {
            .toggle-button {
                border: $toggle-border-on-disabled;
                background-color: $color-bg-selected-disabled;
            }
    
            .toggle-switch {
                background-color: $color-text-disabled;
            }
        }
    }

    &.disabled {
        .toggle-button {
            border: $toggle-border-off-disabled;
            cursor: default;
        }

        .toggle-switch {
            background-color: $color-text-disabled;
        }

        .toggle-label {
            color: $color-text-disabled;
        }
    }
}