@import '../../theme/index';

$form-error-height: 5*$grid;
$form-label-balloon-width: 75*$grid;

$line-height: 5*$grid;

.form-field {
    font-family: $font-family-default;
    display: block;
}

.label {
    @include md-box(inline-block);
    color: $color-text-default;
    font-family: $font-family-default;
    font-size: $font-size-text;
    line-height: $line-height;

    &.disabled {
        color: $color-text-disabled;
    }

    .required &::after {
        content: ' *';
        color: $color-text-bright;
    }

    &.required::after {
        content: ' *';
        color: $color-text-bright;
    }

    & + .content {
        margin-top: $gutter;    
    }

    & + .field-error {
        margin-top: $gutter;    
    }
}

.label-container {
    @include md-box(inline-block);
    
    .label-icon {
        @include md-box(inline-block);
        margin-left: 2*$gutter;
    }
    
    .label-balloon {
        width: $form-label-balloon-width;
    }
}

.field-error {
    @include md-box(inline-block, ellipsis);
    height: $form-error-height;
    width: 100%;
    
    color: $color-text-bright;
    
    font-family: $font-family-default;
    font-size: $font-size-small;
    line-height: $line-height;

    &.hidden {
        display: none;
    }
}
