@import '../../theme/index';

$component: md-component('form-field', (
    color: (
        default: (color, neutral, primary, alt, 2),
        disabled: (color, neutral, tertiary),
        error: (color, input, error)
    ),
    font: (
        default: (font, default),
        size: (
            label: (font, size, default),
            error: (font, size, small),
        ),
        line-height: 5*$grid,
    ),
    size: (
        form-error: (
            height: (size, form-error, height)
        ),
        form-label: (
            balloon: (
                width: (size, form-label, balloon, width)
            )
        )
    )
));

.form-field {
    font-family: font(default);
    display: block;
}

.label {
    @include md-box(inline-block);
    color: color(default);
    font-family: font(default);
    font-size: font(size, label);
    line-height: font(line-height);

    &.disabled {
        color: color(disabled);
    }

    .required &::after {
        content: ' *';
        color: color(error);
    }

    &.required::after {
        content: ' *';
        color: color(error);
    }

    & + .content {
        margin-top: $gutter;    
    }

    & + .field-error {
        margin-top: $gutter;    
    }
}

.label-container {
    @include md-box(inline-block);
    
    .label-icon {
        @include md-box(inline-block);
        margin-left: 2*$gutter;
    }
    
    .label-balloon {
        width: size(form-label, balloon, width);
    }
}

.field-error {
    @include md-box(inline-block, ellipsis);
    height: size(form-error, height);
    width: 100%;
    
    color: color(error);
    
    font-family: font(default);
    font-size: font(size, error);
    line-height: font(line-height);

    &.hidden {
        display: none;
    }
}
