@import '../../theme/index';

$component: md-component('checkbox-input', (
    color: (
        default: (color, input, default),
        disabled: (color, neutral, tertiary),
        checkmark: (
            default: (color, interactive, dark),
            disabled: (color, neutral, secondary, alt, 4),
        ),
    ),
    bg-color: (
        default: (bg-color, checkbox-input, default),
        selected: (
            default: (bg-color, checkbox-input, selected, default),
            disabled: (bg-color, checkbox-input, selected, disabled),
        ),
        hover: (bg-color, checkbox-input, hover),
        disabled: (bg-color, checkbox-input, disabled),
        fill: (
            default: (bg-color, checkbox-input, fill, default),
            disabled: (bg-color, checkbox-input, fill, disabled),
        ),
    ),
    border: (
        default: (border, checkbox-input, default),
        hover: (border, checkbox-input, hover),
        disabled: (border, checkbox-input, disabled),
        indeterminate: (
            default: (border, checkbox-input, indeterminate, default),
            hover: (border, checkbox-input, indeterminate, hover),
        ),
        selected: (border, checkbox-input, selected)
    ),
    font: (
        default: (font, default),
        size: (
            default: (font, size, default),
            small: (font, size, small)
        ),
        line-height: (
            default: 4*$grid,
            small: 3*$grid
        ),
    ),
    outline: (
        focus: (outline, focus),
    ),
));

.checkbox-container {
    color: color(default);

    &:not(.disabled) input:focus + .checkbox-button {
        outline: outline(focus);
        outline-offset: 1px;
    }

    .checkbox-button {
        border: border(default);
        background-color: bg-color(default);
    }

    &.disabled {
        color: color(disabled);
    
        .checkbox-button {
            border: border(disabled);
            background-color: bg-color(default);
        }
    }

    .checkbox-fill {
        background-color: bg-color(fill, default);
    }
}

.checkbox-container:hover {
    .checkbox-button {
        border: border(hover);
    }

    &.selected .checkbox-button {
        background-color: bg-color(hover);
    }

    &.disabled .checkbox-button {
        border: border(disabled);
    }

    &.indeterminate .checkbox-button {
        border: border(indeterminate, hover);
        background-color: bg-color(default);
    }
}

.checkbox-container.selected {
    .checkbox-button {
        border: border(selected);
        background-color: bg-color(selected);
    }

    .checkbox-checkmark {
        color: color(checkmark, default);
    }

    &.disabled {
        .checkbox-button {
            background-color: bg-color(selected, disabled);
            border: none;
        }

        .checkbox-checkmark {
            color: color(checkmark, disabled);
        }   
    }
}

.checkbox-container.indeterminate {
    .checkbox-button {
        border: border(indeterminate);
        background-color: bg-color(default);
    }

    &.disabled {
        .checkbox-button {
            border: border(disabled);
        }

        .checkbox-fill {
            background-color: bg-color(fill, disabled);
        }
    }
}

.checkbox-container {
    @include md-box(block, relative);
    font-family: font(default);
    font-size: font(size, default);
    line-height: font(line-height, default);

    & + &:not(.columns) {
        margin-top: 3*$gutter;
    }

    &.columns {
        display: inline-block;
            
        margin-right: 2*$gutter;
    }

    input {
        @include md-box(inline-block, absolute);

        top: 1px;
        left: 1px;

        width: 0px;
        height: 0px;
        border: none;
        outline: none;
    }

    .checkbox-text {
        @include md-box(inline-block, relative);
        vertical-align: top;
        padding-left: 2*$gutter;
    }

    .checkbox-fill {
        @include md-box(display-none, absolute);
        left: 1.5*$gutter;
        top: 1.5*$gutter;
        width: $grid;
        height: $grid;
    }

    .checkbox-button {
        @include md-box(inline-block, relative);
        width: 4*$grid;
        height: 4*$grid;
        background-color: bg-color(default);
        outline: none;
        vertical-align: top;
    }

    .checkbox-label {
        @include md-box(inline-block, relative);
    }

    .checkbox-checkmark {
        @include md-box(display-none, absolute);
        font-size: font(size, small);
        line-height: font(line-height, small);
        left: 2px;
    }

    &.selected {
        .checkbox-checkmark {
            display: inline-block;
        }
    }

    &.indeterminate {
        .checkbox-checkmark {
            display: none;
        }
        .checkbox-fill {
            display: inline-block;
        }
    }
}
