@import '../../theme/index';

$line-height: 4*$grid;
$line-height-small: 3*$grid;

.checkbox-container {
    color: $color-text-default;

    &:not(.disabled) input:focus + .checkbox-button {
        outline: $outline-focus;
        outline-offset: 1px;
    }

    .checkbox-button {
        border: $border-default;
        background-color: $color-bg-default;
    }

    &.disabled {
        color: $color-text-disabled;
    
        .checkbox-button {
            border: $border-disabled;
            background-color: $color-bg-default;
        }
    }

    .checkbox-fill {
        background-color: $color-text-default;
    }
}

.checkbox-container:hover {
    .checkbox-button {
        border: $border-active;
    }

    &.selected .checkbox-button {
        background-color: $color-bg-selected;
        border: $border-selected-hover;
    }

    &.disabled .checkbox-button {
        border: $border-disabled;
    }

    &.indeterminate .checkbox-button {
        border: $border-active;
        background-color: $color-bg-default;
    }
}

.checkbox-container.selected {
    .checkbox-button {
        border: $border-selected;
        background-color: $color-bg-selected;
    }

    .checkbox-checkmark {
        color: $color-text-bright;
    }

    &.disabled {
        .checkbox-button {
            background-color: $color-bg-selected-disabled;
            border: none;
        }

        .checkbox-checkmark {
            color: $color-text-disabled;
        }   
    }
}

.checkbox-container.indeterminate {
    .checkbox-button {
        border: $border-selected;
        background-color: $color-bg-default;
    }

    &.disabled {
        .checkbox-button {
            border: $border-disabled;
        }

        .checkbox-fill {
            background-color: $color-text-disabled;
        }
    }
}

.checkbox-container {
    @include md-box(block, relative);
    font-family: $font-family-default;
    font-size: $font-size-text;
    line-height: $line-height;

    & + &:not(.columns) {
        margin-top: 3*$gutter;
    }

    &.columns {
        display: inline-block;
            
        margin-right: 2*$gutter;
    }

    input {
        @include md-box(inline-block, absolute);

        top: 1px;
        left: 1px;

        width: 0px;
        height: 0px;
        border: none;
        outline: none;
    }

    .checkbox-text {
        @include md-box(inline-block, relative);
        vertical-align: top;
        padding-left: 2*$gutter;
    }

    .checkbox-fill {
        @include md-box(display-none, absolute);
        left: 1.5*$gutter;
        top: 1.5*$gutter;
        width: $grid;
        height: $grid;
    }

    .checkbox-button {
        @include md-box(inline-block, relative);
        width: 4*$grid;
        height: 4*$grid;
        background-color: $color-bg-default;
        outline: none;
        vertical-align: top;
    }

    .checkbox-label {
        @include md-box(inline-block, relative);
    }

    .checkbox-checkmark {
        @include md-box(display-none, absolute);
        font-size: $font-size-small;
        line-height: $line-height-small;
        left: 2px;
    }

    &.selected {
        .checkbox-checkmark {
            display: inline-block;
        }
    }

    &.indeterminate {
        .checkbox-checkmark {
            display: none;
        }
        .checkbox-fill {
            display: inline-block;
        }
    }
}
