@import 'common';

$default-border: 1px solid md-color(shade, 6);
$checked-border: 1px solid md-color(form, selected);
$hover-border: 1px solid md-color(shade, 3);
$focused-border: 1px dashed md-color(shade, 3);
$disabled-border: 1px solid md-color(shade, a);

$background-checked-color: md-color(shade, 3);
$background-disabled-color: md-color(shade, a);

$text-default-color: md-color(shade, 2);
$text-disabled-color: md-color(shade, a);

$radio-bg-color: md-color(shade, f);

.radio-container {
    @include md-box(block, relative);
    font-family: $font-family-base;
    color: $text-default-color;
    font-size: $font-size-text;
    line-height: 16px;

    & + &:not(.columns) {
        margin-top: 12px;
    }

    &.columns {
        display: inline-block;

        margin-right: 8px;
    }

    input {
        @include md-box(inline-block, absolute);
        top: 1px;
        left: 1px;

        width: 0px;
        height: 0px;
        border: none;
        outline: none;

        &:focus ~ .radio-button:not(.disabled) {
            outline: $focus-outline;
            outline-offset: 1px;
        }

        &:hover:not(:checked) ~ .radio-button:not(.disabled) {
            border: $hover-border;
        }

        &:focus:not(:checked) ~ .radio-button {
            border: $hover-border;
        }
    }

    .radio-text {
        @include md-box(inline-block, relative);
        vertical-align: top;
        padding-left: 8px;
    }

    .radio-fill {
        @include md-box(inline-block, absolute);
        left: 4px;
        top: 4px;
        width: 8px;
        height: 8px;
        border-radius: 4px;

        &.selected {
            background-color: $background-checked-color;

            &.disabled {
                background-color: $background-disabled-color;
            }
        }
    }

    .radio-border {
        @include md-box(inline-block, absolute);
        left: -2px;
        top: -2px;
        width: 20px;
        height: 20px;
    }

    .radio-button {
        @include md-box(inline-block, relative);
        width: 16px;
        height: 16px;
        background-color: $radio-bg-color;
        border-radius: 8px;
        border: $default-border;
        outline: none;
        vertical-align: top;

        &.selected {
            border: $checked-border;
        }

        &.disabled {
            border: $disabled-border;
        }
    }

    .radio-label {
        @include md-box(inline-block, relative);

        &.disabled {
            color: $text-disabled-color;
        }
    }

    &.hidden {
        display: none;
    }
}
