@import '../../theme/index';

$component: md-component('radio-input', (
    color: (
        default: (color, input, default),
        disabled: (color, neutral, tertiary),
    ),
    bg-color: (
        default: (color, white),
        checked: (color, neutral, primary),
        disabled: (color, neutral, tertiary),
    ),
    border: (
        default: (border, radio-input, default),
        hover: (border, radio-input, hover),
        disabled: (border, radio-input, disabled),
        checked: (border, radio-input, checked)
    ),
    outline: (
        focus: (outline, focus),
    ),
    font: (
        default: (font, default),
        size: (
            default: (font, size, default),
            small: (font, size, small)
        ),
        line-height: (
            default: 5*$grid,
            small: 4*$grid
        ),
    ),
    size: (
        default: (size, radio-input, default),
    )
));

.radio-container {
    @include md-box(block, relative);
    font-family: font(default);
    color: color(default);
    font-size: font(size, default);
    line-height: font(line-height, small);

    & + &:not(.columns) {
        margin-top: 3*$gutter;
    }

    &.columns {
        display: inline-block;

        margin-right: 2*$gutter;
    }

    input {
        @include md-box(inline-block, absolute);
        top: 1px;
        left: 1px;

        width: 0px;
        height: 0px;
        border: none;
        outline: none;

        background-color: bg-color(default);

        &:focus ~ .radio-button:not(.disabled) {
            outline: outline(focus);
            outline-offset: 1px;
        }

        &:hover:not(:checked) ~ .radio-button:not(.disabled) {
            border: border(hover);
        }

        &:focus:not(:checked) ~ .radio-button {
            border: border(hover);
        }
    }

    .radio-text {
        @include md-box(inline-block, relative);
        vertical-align: top;
        padding-left: 2*$gutter;
    }

    .radio-fill {
        @include md-box(inline-block, absolute);
        left: $gutter;
        top: $gutter;
        width: 2*$gutter;
        height: 2*$gutter;
        border-radius: $grid;

        &.selected {
            background-color: bg-color(checked);

            &.disabled {
                background-color: bg-color(disabled);
            }
        }
    }

    .radio-button {
        @include md-box(inline-block, relative);
        width: size(default);
        height: size(default);
        background-color: bg-color(default);
        border-radius: size(default) / 2;
        border: border(default) ;
        outline: none;
        vertical-align: top;

        &.selected {
            border: border(checked);
        }

        &.disabled {
            border: border(disabled);
        }
    }

    .radio-label {
        @include md-box(inline-block, relative);

        &.disabled {
            color: color(disabled);
        }
    }

    &.hidden {
        display: none;
    }
}
