@import '../../theme/index';

$component: md-component('select-input', (
    color: (
        default: (color, input, default),
        disabled: (color, input, disabled),
        selection: (color, input, selection),
        checked: (color, interactive, dark),
        arrow: (color, input, arrow),
    ),
    bg-color: (
        default: (bg-color, input, default),
        checked: (color, interactive, default),
        selection: (bg-color, input, selection),
        disabled: (bg-color, input, disabled),
    ),
    border: (
        default: (border, input, default),
        disabled: (border, input, disabled),
        focus: (border, input, focus),
        error: (border, input, error),
    ),
    font: (
        default: (font, default),
        size: (
            default: (font, size, default),
            small: (font, size, small)
        ),
        line-height: (
            default: 4*$grid,
        )
    ),
    size: (
        input: (
            height: (size, input, height)
        ),
        option: (
            height: (size, input, option, height),
        ),
    ),
));

.combo-container {
    @include md-box(relative, block);
    width: 100%;
    font-family: $font-family-default;

    color: $color-text-default;
    font-size: font(size, default);
    line-height: font(line-height, default);

    .arrow {
        @include md-box(absolute, block);
        font-size: font(size, small);
        color: $color-text-chevron;
        right: 2*$gutter;
        top: 2*$gutter;
        pointer-events: none;
    }

    .combo {
        @include md-box();
        width: 100%;
        height: size(input, height);
        padding: 0px 3*$gutter;
        border: $border-default;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0px;

        background-color: $color-bg-default;

        option {
            height: size(option, height);

            &:first {
                display: none;
            }
            
            &:checked {
                background-color: $color-bg-selected;
                color: $color-text-bright;
            }
        }

        &:hover {
            border: $border-active;
        }
    
        &:focus {
            border: $border-active;
        }

        &:active {
            border: $border-active;
        }
        
        &:disabled {
            color: $color-text-disabled;
            border: $border-disabled;
            background-color: $color-bg-disabled;
        }

        &::selection {
            color: $color-text-bright;
            background-color: $color-bg-selected;
        }

        &.error:not(:disabled) {
            border: $border-error;
        }
    }
}
