@import '../../theme/index';

$component: md-component('text-area', (
    color: (
        default: (color, input, default),
        disabled: (color, input, disabled),
        placeholder: (color, input, placeholder),
        selection: (color, input, selection),
        error: (color, input, error),
        cancel: (color, input, cancel),
    ),
    bg-color: (
        input: (bg-color, input, default),
        selection: (bg-color, input, selection),
        disabled: (bg-color, input, disabled),
    ),
    border: (
        default: (border, input, default),
        disabled: (border, input, disabled),
        focus: (border, input, focus),
        error: (border, input, error),
    ),
    font: (
        default: (font, default),
        size: (
            default: (font, size, default),
            small: (font, size, small)
        ),
        line-height: (
            default: 5*$grid,
        )
    ),
    size: (
        min-height: (size, text-area, min-height),
    ),
));

.textarea-container {
    @include md-box(block, relative);

    .textarea-ghost {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        visibility: hidden;
    }
}

.textarea {
    @include md-box(block, relative);
    width: 100%;
    min-height: size(min-height);
    padding: 2*$gutter 2*$gutter 2*$gutter 3*$gutter;
    
    font-family: font(default);
    color: color(default);
    font-size: font(size, default);
    line-height: font(line-height, default);
    
    border: border(default);
    outline: none;

    background-color: bg-color(default);

    &:hover {
        border: border(focus);
    }

    &:focus {
        border: border(focus);
    }

    &:active {
        border: border(focus);
    }
    
    &:disabled {
        color: color(disabled);
        border: border(disabled);
        background-color: bg-color(disabled);

        &::placeholder {
            color: color(disabled);
        }
    }

    &::placeholder {
        color: color(placeholder);
    }

    &::selection {
        color: color(selection);
        background-color: bg-color(selection);
    }

    &.error:not(:disabled) {
        border: border(error);
    }

    &::-ms-clear {
        display: none;
    }

    &:invalid {
        box-shadow: none;
    }
}
