@import 'common';

$prefix-color: md-color(shade, 6);
$prefix-background: md-color(shade, c);

$postfix-color: md-color(shade, 6);
$postfix-background: md-color(shade, c);

.text-input-container {
    @include md-box(flex, relative);
    width: 100%;
    font-family: $font-family-base;

    color: $default-text-color;
    font-size: $font-size-text;
    line-height: 20px;

    .input-container {
        @include md-box(block, relative);
        flex-grow: 1;
    }

    .input {
        @include md-box(block, relative);
        width: 100%;
        height: 8*$grid;
        padding: 2*$gutter 2*$gutter 2*$gutter 3*$gutter;
        border: $inactive-border;
        outline: none;

        &:valid {
            padding: 2*$gutter 3*$gutter 2*$gutter 3*$gutter;
        }

        &:hover {
            border: $default-border;
        }
    
        &:focus {
            border: $default-border;

            &:valid:not(.no-cancel) {
                padding-right: 8*$gutter;

                + .cancel {
                    color: $cancel-default-color;
                    pointer-events: auto;
                }
            }
        }

        &:active {
            border: $default-border;

            &:valid:not(.no-cancel) {
                padding-right: 8*$gutter;

                + .cancel {
                    color: $cancel-default-color;
                    pointer-events: auto;
                }
            }
        }
        
        &:disabled {
            color: $disabled-text-color;
            border: $disabled-border;
            background-color: $disabled-background-color;
    
            &::placeholder {
                color: $disabled-text-color;
            }
        }
    
        &::placeholder {
            color: $placeholder-text-color;
        }
    
        &::selection {
            color: $selection-text-color;
            background-color: $selection-background-color;
        }

        &.error:not(:disabled) {
            border: $error-border;
        }

        &::-ms-clear {
            display: none;
        }

        &:invalid {
            box-shadow: none;
        }
    }

    .cancel {
        @include md-box(absolute, float-right);
        color: transparent;
        font-size: $font-size-small;
        line-height: 16px;
        padding: $gutter;
        top: $gutter;
        right: 2*$gutter;
        border: none;
        background-color: transparent;
        outline: none;
        pointer-events: none;
        cursor: pointer;

        &:active {
            color: $cancel-default-color;
            pointer-events: auto;
        }

        &.no-cancel {
            display: none;
        }
    }

    .prefix {
        @include md-box(table-cell, relative);
        color: $prefix-color;
        padding-right: 2*$gutter;
        
        height: 8*$grid;
        line-height: 8*$grid;

        white-space: nowrap;
        
        flex-grow: 0;
    }

    .postfix {
        @include md-box(inline-block, relative);
        color: $prefix-color;
        padding-left: 2*$gutter;
        
        height: 8*$grid;
        line-height: 8*$grid;

        white-space: nowrap;
        
        flex-grow: 0;
    }
}

.prefix-addon {
    border-left: $inactive-border;
    border-top: $inactive-border;
    border-bottom: $inactive-border;

    background-color: $prefix-background;
    color: $prefix-color;

    padding-right: 2*$gutter;
}

.postfix-addon {
    border-right: $inactive-border;
    border-top: $inactive-border;
    border-bottom: $inactive-border;
    
    padding-left: 2*$gutter;
    
    background-color: $prefix-background;
    color: $prefix-color;
}