@import '../../theme/index';

$component: md-component('text-input', (
    color: (
        default: (color, input, default),
        disabled: (color, input, disabled),
        placeholder: (color, input, placeholder),
        selection: (color, input, selection),
        error: (color, input, error),
        cancel: (color, input, cancel),
        addon: (color, neutral, secondary, alt),
    ),
    bg-color: (
        default: (bg-color, input, default),
        selection: (bg-color, input, selection),
        disabled: (bg-color, input, disabled),
    ),
    border: (
        default: (border, input, default),
        disabled: (border, input, disabled),
        focus: (border, input, focus),
        error: (border, input, error),
    ),
    font: (
        default: (font, default),
        size: (
            default: (font, size, default),
            small: (font, size, small)
        ),
        line-height: (
            default: 5*$grid,
            small: 4*$grid,
        )
    ),
    size: (
        height: (size, input, height),
    ),
));

.text-input-container {
    @include md-box(flex, relative);
    width: 100%;
    font-family: font(default);

    font-size: font(size, default);
    line-height: font(line-height, default);

    .input-container {
        @include md-box(block, relative);
        flex-grow: 1;
    }

    .input {
        @include md-box(block, relative);
        width: 100%;
        height: size(height);
        padding: 2*$gutter 2*$gutter 2*$gutter 3*$gutter;
        border: border(default);
        outline: none;

        color: color(default);
        background-color: bg-color(default);
        max-width: 100%;

        &:valid {
            padding: 2*$gutter 3*$gutter 2*$gutter 3*$gutter;
        }

        &:hover {
            border: border(focus);
        }
    
        &:focus {
            border: border(focus);

            &:valid:not(.no-cancel) {
                padding-right: 8*$gutter;

                + .cancel {
                    color: color(cancel);
                    pointer-events: auto;
                }
            }
        }

        &:active {
            border: border(focus);

            &:valid:not(.no-cancel) {
                padding-right: 8*$gutter;

                + .cancel {
                    color: color(cancel);
                    pointer-events: auto;
                }
            }
        }
        
        &:disabled {
            color: color(disabled);
            border: border(disabled);
            background-color: bg-color(disabled);
    
            &::placeholder {
                color: color(disabled);
            }
        }
    
        &::placeholder {
            color: color(placeholder);
        }
    
        &::selection {
            color: color(selection);
            background-color: bg-color(selection);
        }

        &.error:not(:disabled) {
            border: border(error);
        }

        &::-ms-clear {
            display: none;
        }

        &:invalid {
            box-shadow: none;
        }
    }

    .cancel {
        @include md-box(absolute, float-right);
        color: transparent;
        font-size: font(size, small);
        line-height: font(line-height, small);
        padding: $gutter;
        top: $gutter;
        right: 2*$gutter;
        border: none;
        background-color: transparent;
        outline: none;
        pointer-events: none;
        cursor: pointer;

        &:active {
            color: color(cancel);
            pointer-events: auto;
        }

        &.no-cancel {
            display: none;
        }
    }

    .prefix {
        @include md-box(table-cell, relative);
        color: color(addon);
        padding-right: 2*$gutter;
        
        height: size(height);
        line-height: size(height);

        white-space: nowrap;
        
        flex-grow: 0;
    }

    .postfix {
        @include md-box(inline-block, relative);
        color: color(addon);
        padding-left: 2*$gutter;
        
        height: size(height);
        line-height: size(height);

        white-space: nowrap;
        
        flex-grow: 0;
    }
}

.prefix-addon {
    border-left: border(default);
    border-top: border(default);
    border-bottom: border(default);

    background-color: bg-color(addon);
    color: color(addon);

    padding-right: 2*$gutter;
}

.postfix-addon {
    border-right: border(default);
    border-top: border(default);
    border-bottom: border(default);
    
    padding-left: 2*$gutter;
    
    background-color: bg-color(addon);
    color: color(addon);
}