@import '../../theme/index';

$line-height: 5*$grid;
$line-height-small: 4*$grid;

.text-input-container {
    @include md-box(flex, relative);
    width: 100%;
    font-family: $font-family-default;

    font-size: $font-size-text;
    line-height: $line-height;

    .input-container {
        @include md-box(block, relative);
        flex-grow: 1;
    }

    .input {
        @include md-box(block, relative);
        width: 100%;
        height: $input-height;
        padding: 2*$gutter 2*$gutter 2*$gutter 3*$gutter;
        border: $border-default;
        outline: none;

        color: $color-text-default;
        background-color: $color-bg-default;
        max-width: 100%;

        &:valid {
            padding: 2*$gutter 3*$gutter 2*$gutter 3*$gutter;
        }

        &:hover {
            border: $border-active;
        }
    
        &:focus {
            border: $border-active;

            &:valid:not(.no-cancel) {
                padding-right: 8*$gutter;

                + .cancel {
                    color: $color-text-cancel;
                    pointer-events: auto;
                }
            }
        }

        &:active {
            border: $border-active;

            &:valid:not(.no-cancel) {
                padding-right: 8*$gutter;

                + .cancel {
                    color: $color-text-cancel;
                    pointer-events: auto;
                }
            }
        }
        
        &:disabled {
            color: $color-text-disabled;
            border: $border-disabled;
            background-color: $color-bg-disabled;
    
            &::placeholder {
                color: $color-text-disabled;
            }
        }
    
        &::placeholder {
            color: $color-text-placeholder;
        }
    
        &::selection {
            color: $color-text-bright;
            background-color: $color-bg-selected;
        }

        &.error:not(:disabled) {
            border: $border-error;
        }

        &::-ms-clear {
            display: none;
        }

        &:invalid {
            box-shadow: none;
        }
    }

    .cancel {
        @include md-box(absolute, float-right);
        color: transparent;
        font-size: $font-size-small;
        line-height: $line-height-small;
        padding: $gutter;
        top: $gutter;
        right: 2*$gutter;
        border: none;
        background-color: transparent;
        outline: none;
        pointer-events: none;
        cursor: pointer;

        &:active {
            color: $color-text-cancel;
            pointer-events: auto;
        }

        &.no-cancel {
            display: none;
        }
    }

    .prefix {
        @include md-box(table-cell, relative);
        color: $color-text-default;
        padding-right: 2*$gutter;
        
        height: $input-height;
        line-height: $input-height;

        white-space: nowrap;
        
        flex-grow: 0;
    }

    .postfix {
        @include md-box(inline-block, relative);
        color: $color-text-default;
        padding-left: 2*$gutter;
        
        height: $input-height;
        line-height: $input-height;

        white-space: nowrap;
        
        flex-grow: 0;
    }
}

.prefix-addon {
    border-left: $border-default;
    border-top: $border-default;
    border-bottom: $border-default;

    background-color: $color-bg-addon;
    color: $color-text-default;

    padding-right: 2*$gutter;
}

.postfix-addon {
    border-right: $border-default;
    border-top: $border-default;
    border-bottom: $border-default;
    
    padding-left: 2*$gutter;
    
    background-color: $color-bg-addon;
    color: $color-text-default;
}