@import '../../common/overrides';
@import '../../common/mixins';

$text-default-color: md-color(shade, 6);
$text-disabled-color: md-color(shade, a);
$text-hover-color: md-color(shade, 3);

$focus-border: 1px dashed md-color(shade, 3);

.action-trigger {
    @include md-box(inline-block, relative, ellipsis);
    font-family: $font-family-base;
    font-size: $font-size-text;
    line-height: 16px;

    color: $text-default-color;
    padding: 2*$gutter;

    text-decoration: none;
    outline: none;

    
    a:focus > & {
        border: $focus-border;
        color: $text-hover-color;
        padding: 2*$gutter;
        
        &.disabled {
            border: none;
            color: $text-disabled-color;
            padding: 2*$gutter;
        }
    }
    
    &:hover {
        color: $text-hover-color;
    }
    
    &.disabled {
        color: $text-disabled-color;
    }
    
    .suffix {        
        margin-left: 2*$gutter;
        
        &:before {
            margin: 0;
        }
    }

    .label {
        @include md-box(inline-block);
        line-height: 18px;
        vertical-align: bottom;
        margin-left: 2*$gutter;

        max-width: 50*$grid;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.action-trigger-button {
    @include md-button-reset();
}