@import '../../theme/index';

$line-height: 4.5*$grid-size;

.action-trigger-container {
    @include md-box(inline-block, relative, ellipsis);
    font-family: $font-family-default;
    font-size: $icon-size-xsmall;
    line-height: $line-height;
    padding: $grid-size 2*$grid-size;

    color: $color-text-default;

    text-decoration: none;
    outline: none;

    &.action-trigger-label-empty {
        padding: $grid-size 1.5*$grid-size;
        
        .label {
            margin: 0;
        }
    }

    a:focus > & {
        outline: $outline-focus;
        outline-offset: 1px;
        color: $color-text-default;
        background-color: $color-bg-hover;
        
        &.disabled {
            outline: none;
            color: $color-text-disabled;
        }
    }
    
    &:hover:not(.disabled) {
        color: $color-text-default;
        background-color: $color-bg-hover;
    }
    
    &.disabled {
        color: $color-text-disabled;
    }
    
    .suffix {        
        margin-left: 2*$grid-size;
        
        &::before {
            margin: 0;
        }
    }

    .action-trigger-label {    
        @include md-box(inline-block);
        line-height: $line-height;
        vertical-align: top;
        font-size: $font-size-default;
        margin-left: 2*$grid-size;
        margin-top: 1px;

        max-width: 50*$grid-size;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &::before {
            vertical-align: top;
        }
    }
}

.action-trigger-button {
    @include md-button-reset();
    line-height: 0px;

    &.disabled:hover {
        cursor: default;        
    }

    &:focus:not(.disabled) {
        outline: $outline-focus;
        outline-offset: 1px;
        background-color: $color-bg-hover;        
    }
}