@import '../../common/overrides';
@import '../../common/mixins';

.datetime-field {
    .date-picker {
        padding-right: $gutter;        
    }

    .time-picker {
        padding-left: $gutter;
    }

    .field-content {
        @include md-box(flex-row, relative);
    }

    .field-date {
        @include md-box(inline-block, relative);
        flex: 1 0 auto;
    }

    .field-time {
        @include md-box(inline-block, relative);
        flex: 0 0 auto;
    }
}