@import '../../theme/index';

$dropdown-z-index: $z-index-medium-step;
$fixed-dropdown-z-index: 9 * $z-index-large-step + 5 * $z-index-medium-step;

.dropdown-container {
    @include md-box(inline-block, relative);
    
    :global(.md-dropdown) {
        @include md-box(inline-block, absolute);
        visibility: hidden;
        
    }

    :global(.md-dropdown-container) {
        visibility: hidden;
        pointer-events: none;
    }
}

:global(.md-dropdown-container) {
    visibility: visible;
    position: fixed;
    z-index: $fixed-dropdown-z-index;
    pointer-events: none;
    
    :global(.md-dropdown) {
        visibility: visible;
        pointer-events: none;

        &.interactive {
            pointer-events: auto;
        }
    }

    &.interactive {
        pointer-events: auto;
    }
}
