@import '../../common/overrides';
@import '../../common/mixins';

// Spec says 8px but setting to 8.5px to deal with browser rounding errors
$dropdown-border: 8.5px solid md-color(shade, 3);
$transparent-border: 8.5px solid md-color(inherit);

$background-default-color: md-color(shade, 3);

$text-default-color: md-color(shade, f);

$dropdown-z-index: $z-index-medium-step;
$fixed-dropdown-z-index: $z-index-large-step;

.dropdown-container {
    @include md-box(inline-block, relative);
    
    :global(.md-dropdown) {
        @include md-box(inline-block, absolute);
        visibility: hidden;
    }
}

:global(.md-dropdown-container) {
    visibility: visible;
    position: fixed;
    z-index: $fixed-dropdown-z-index;
    pointer-events: none;
    
    :global(.md-dropdown) {
        visibility: visible;
        pointer-events: none;

        &.interactive {
            pointer-events: auto;
        }
    }

    &.interactive {
        pointer-events: auto;
    }
}
