@import '../../theme/index';

$calendar-column-width: 10*$grid;
$calendar-width: 52*$grid;

$line-height-chevron: 4*$grid;
$line-height-header: 4*$grid;
$line-height-row: $calendar-column-width;

.calendar {
    @include md-box(block, relative);
    font-family: $font-family-default;
    font-size: $font-size-text;
    padding-bottom: 2*$gutter;
    color: $color-text-default;

    .calendar-header {
        @include md-box(block, relative);
        margin-left: 4*$gutter;
        font-family: $font-family-light;

        & button {
            text-decoration: none;
            background-color: transparent;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }

        .calendar-month {
            @include md-box(inline-block, relative);
            margin-top: 4*$gutter;
            color: $color-text-default;
            font-size: $font-size-h4;
            line-height: $line-height-header;
            text-align: left;
            width: $calendar-width;
            vertical-align: top;
        }

        .calendar-chevron {
            @include md-box(inline-block, relative);
            text-align: center;
            vertical-align: bottom;
            line-height: $line-height-chevron;
            margin-left: $gutter;
            padding-top: 2*$gutter;
            width: $calendar-column-width;
            text-decoration: none;

            &:visited {
                color: inherit;
            }

            &.disabled {
                pointer-events: none;
            }
        }
    }

    .calendar-days {
        @include md-box(block, relative);
        width: 100%;
        margin: 2*$gutter 0px;
        padding-left: 2*$gutter;
        padding-bottom: 1.5*$gutter;
        border-bottom: $border-default;
        color: $color-text-default;
        
        & > div  {
            @include md-box(inline-block, relative);
            width: $calendar-column-width;
            text-align: center;
        }

        div + div {
            margin-left: $gutter;
        }
    }

    .calendar-row {
        margin-left: 2*$gutter;

        & > button.selected {
            color: $color-text-bright;
            background-color: $color-bg-selected;
        }

        & > button {
            @include md-box(inline-block, relative);
            width: $calendar-column-width;
            height: $calendar-column-width;

            line-height: $line-height-row;
            text-align: center;
            vertical-align: middle;

            text-decoration: none;
            background-color: transparent;
            border: none;

            &:hover:not(.selected), &:focus:not(.selected)  {
                background-color: $color-bg-hover;
                cursor: pointer;
            }

            &:visited {
                color: inherit;
            }

            &:focus {
                outline: none;
            }
        }

        & > button + button {
            margin-left: $gutter;
        }

        button.disabled {
            color: $color-text-disabled;
        }
    }

    .calendar-row + .calendar-row {
        margin-top: $gutter;
    }
}