@import '../../common/overrides';
@import '../../common/mixins';

$font-family: join('Segoe UI Semilight', $font-family-base);

$header-color: md-color(shade, 2);
$weekday-color: md-color(shade, 5);
$selected-color: md-color(form, switch);

$default-bg-color: md-color(transparent);
$hover-bg-color: md-color(shade, d);
$selected-bg-color: md-color(form, selected);

$different-month-color: md-color(shade, 8);

$weekday-border: 1px solid md-color(shade, c);

.calendar {
    @include md-box(block, relative);
    font-family: $font-family-base;
    font-size: 12px;
    padding-bottom: 8px;
    color: $header-color;

    .calendar-header {
        @include md-box(block, relative);
        margin-left: 16px;
        font-family: $font-family;

        & button {
            text-decoration: none;
            background-color: $default-bg-color;
            border: none;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }

        .calendar-month {
            @include md-box(inline-block, relative);
            margin-top: 16px;
            color: $header-color;
            font-size: 16px;
            line-height: 16px;
            text-align: left;
            width: 208px;
            vertical-align: top;
        }

        .calendar-chevron {
            @include md-box(inline-block, relative);
            text-align: center;
            vertical-align: bottom;
            line-height: 16px;
            margin-left: 4px;
            padding-top: 8px;
            width: 40px;
            text-decoration: none;

            &:visited {
                color: inherit;
            }

            &.disabled {
                pointer-events: none;
            }
        }
    }

    .calendar-days {
        @include md-box(block, relative);
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
        padding-left: 8px;
        padding-bottom: 8px;
        border-bottom: $weekday-border;
        color: $weekday-color;
        
        & > div  {
            @include md-box(inline-block, relative);
            width: 40px;
            text-align: center;
        }

        div + div {
            margin-left: 4px;
        }
    }

    .calendar-row {
        margin-left: 8px;

        & > button.selected {
            color: $selected-color;
            background-color: $selected-bg-color;
        }

        & > button {
            @include md-box(inline-block, relative);
            width: 40px;
            height: 40px;

            line-height: 40px;
            text-align: center;
            vertical-align: middle;

            text-decoration: none;
            background-color: $default-bg-color;
            border: none;

            &:hover:not(.selected), &:focus:not(.selected)  {
                background-color: $hover-bg-color;
                cursor: pointer;
            }

            &:visited {
                color: inherit;
            }

            &:focus {
                outline: none;
            }
        }

        & > button + button {
            margin-left: 4px;
        }

        button.disabled {
            color: $different-month-color;
        }
    }

    .calendar-row + .calendar-row {
        margin-top: 4px;
    }
}