@import '../../theme/index';

$component: md-component('calendar', (
    color: (
        header: (color, neutral, primary, alt, 2),
        weekday: (color, neutral, secondary, alt, 2),
        selected: (color, interactive, dark),
        different-month: (color, neutral, secondary, alt, 5),
    ),
    bg-color: (
        default: (color, transparent),
        hover: (color, neutral, tertiary, alt, 2),
        selected: (color, interactive, default),
    ),
    border: (
        weekday: (border, calendar, weekday),
    ),
    font: (
        default: (font, default),
        light: (font, light),
        size: (
            default: (font, size, small),
            month: (font, size, h4),
        ),
        line-height: (
            month: 4*$grid,
            chevron: 4*$grid,
            row: (size, calendar, column),
        )
    ),
    size: (
        width: (size, calendar, width),
        column: (size, calendar, column),
    )
));

.calendar {
    @include md-box(block, relative);
    font-family: font(default);
    font-size: font(size, default);
    padding-bottom: 8px;
    color: color(header);

    .calendar-header {
        @include md-box(block, relative);
        margin-left: 4*$gutter;
        font-family: font(light);

        & button {
            text-decoration: none;
            background-color: bg-color(default);
            border: none;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }

        .calendar-month {
            @include md-box(inline-block, relative);
            margin-top: 4*$gutter;
            color: color(header);
            font-size: font(size, month);
            line-height: font(line-height, month);
            text-align: left;
            width: size(width);
            vertical-align: top;
        }

        .calendar-chevron {
            @include md-box(inline-block, relative);
            text-align: center;
            vertical-align: bottom;
            line-height: font(line-height, chevron);
            margin-left: $gutter;
            padding-top: 2*$gutter;
            width: size(column);
            text-decoration: none;

            &:visited {
                color: inherit;
            }

            &.disabled {
                pointer-events: none;
            }
        }
    }

    .calendar-days {
        @include md-box(block, relative);
        width: 100%;
        margin: 2*$gutter 0px;
        padding-left: 2*$gutter;
        padding-bottom: 1.5*$gutter;
        border-bottom: border(weekday);
        color: color(weekday);
        
        & > div  {
            @include md-box(inline-block, relative);
            width: size(column);
            text-align: center;
        }

        div + div {
            margin-left: $gutter;
        }
    }

    .calendar-row {
        margin-left: 2*$gutter;

        & > button.selected {
            color: color(selected);
            background-color: bg-color(selected);
        }

        & > button {
            @include md-box(inline-block, relative);
            width: size(column);
            height: size(column);

            line-height: font(line-height, row);
            text-align: center;
            vertical-align: middle;

            text-decoration: none;
            background-color: bg-color(default);
            border: none;

            &:hover:not(.selected), &:focus:not(.selected)  {
                background-color: bg-color(hover);
                cursor: pointer;
            }

            &:visited {
                color: inherit;
            }

            &:focus {
                outline: none;
            }
        }

        & > button + button {
            margin-left: $gutter;
        }

        button.disabled {
            color: color(different-month);
        }
    }

    .calendar-row + .calendar-row {
        margin-top: $gutter;
    }
}