@import '../../theme/index';

$component: md-component('date-picker', (
    color: (
        default: (color, input, default),
        disabled: (color, input, disabled),
        placeholder: (color, input, placeholder),
        selection: (color, input, selection),
    ),
    bg-color: (
        input: (bg-color, input, default),
        disabled: (bg-color, input, disabled),
        calendar: (color, white),
        selection: (bg-color, input, selection),
    ),
    border: (
        default: (border, input, default),
        focus: (border, input, focus),
        disabled: (border, input, disabled),
        error: (border, input, error),        
    ),
    font: (
        default: (font, default),
        size: (
            default: (font, size, default),
            icon: (font, size, small)
        ),
        line-height: (
            default: 20px,
            icon: 16px
        ),
    ),
    size: (
        dropdown: (
            width: (size, date-picker, dropdown, width),
        ),
    ),
));

$calendar-z-index: 9 * $z-index-large-step + 5 * $z-index-medium-step;

$calc-margin: 5px;

.date-picker-container {
    @include md-box(flex, relative);
    width: 100%;
    font-family: font(default);

    color: color(default);
    font-size: font(default);
    line-height: font(line-height);

    .date-picker-input-container {
        @include md-box(block, relative);
        flex-grow: 1;
    }

    .date-picker-input {
        @include md-box(block, relative);
        width: 100%;
        height: 8*$grid;
        padding: 2*$gutter 8*$gutter 2*$gutter 3*$gutter;
        border: border(default);
        outline: none;

        background-color: bg-color(input);

        &:hover {
            border: border(focus);
        }
    
        &:focus {
            border: border(focus);
        }

        &:active {
            border: border(focus);
        }
        
        &:disabled {
            color: color(disabled);
            border: border(disabled);
            background-color: bg-color(disabled);
    
            &::placeholder {
                color: color(disabled);
            }
        }
    
        &::placeholder {
            color: color(placeholder);
        }
    
        &::selection {
            color: color(selection);
            background-color: bg-color(selection);
        }

        &.error:not(:disabled) {
            border: border(error);
        }

        &::-ms-clear {
            display: none;
        }

        &:invalid {
            box-shadow: none;
        }
    }

    .date-picker-calendar-icon {
        @include md-box(absolute, float-right);
        font-size: font(size, icon);
        line-height: font(line-height, icon);
        padding: $gutter;
        top: $gutter;
        right: 2*$gutter;
        border: none;
        background-color: transparent;
        outline: none;
        pointer-events: none;
        cursor: pointer;
    }

    .date-picker-dropdown:not(.above) {
        top: calc(100% + 5px);
    }

    .date-picker-dropdown.above {
        bottom: calc(100% + 5px);

        .date-picker-calendar {
            margin-bottom: 1.5*$gutter;
        }
    }
}

.date-picker-dropdown {
    padding-bottom: 2*$gutter;
    left: 0px;
    width: size(dropdown, width);
    visibility: hidden;
    
    :global(.md-dropdown-container) & {
        background-color: bg-color(calendar);
        border: border(focus);
        display: inline-block;
        z-index: $calendar-z-index;
    }

    .date-picker-dropdown-triangle {
        @include md-box(block, absolute);
        width: 2*$grid;
        height: 2*$grid;
        left: 4*$gutter;
    }

    &:not(.above) .date-picker-dropdown-triangle {
        bottom: calc(100% - 4px);

        background-color: bg-color(calendar);
        border-left: border(focus);
        border-top: border(focus);
        transform: rotateZ(45deg);
    }

    &.date-picker-above .date-picker-dropdown-triangle {
        top: calc(100% - 4px);
        
        background-color: bg-color(calendar);
        border-right: border(focus);
        border-bottom: border(focus);
        transform: rotateZ(45deg);
    }
}

