@import '../../common/overrides';
@import '../../common/mixins';

.datetime-field {
    .date-picker {
        padding-right: $gutter;        
    }

    .time-picker {
        padding-left: $gutter;
    }

    .field-col {
        @include md-box(inline-block, relative);
        width: 50%;        
    }
}