@import '../Input/common';

$prefix-color: md-color(shade, 6);
$prefix-background: md-color(shade, c);

$postfix-color: md-color(shade, 6);
$postfix-background: md-color(shade, c);

$calendar-bg-color: md-color(shade, f);

$calendar-z-index: 9 * $z-index-large-step + 5 * $z-index-medium-step;

$calc-margin: 5px;

.date-picker-container {
    @include md-box(flex, relative);
    width: 100%;
    font-family: $font-family-base;

    color: $default-text-color;
    font-size: $font-size-text;
    line-height: 20px;

    .input-container {
        @include md-box(block, relative);
        flex-grow: 1;
    }

    .input {
        @include md-box(block, relative);
        width: 100%;
        height: 8*$grid;
        padding: 2*$gutter 8*$gutter 2*$gutter 3*$gutter;
        border: $inactive-border;
        outline: none;

        &:hover {
            border: $default-border;
        }
    
        &:focus {
            border: $default-border;
        }

        &:active {
            border: $default-border;
        }
        
        &:disabled {
            color: $disabled-text-color;
            border: $disabled-border;
            background-color: $disabled-background-color;
    
            &::placeholder {
                color: $disabled-text-color;
            }
        }
    
        &::placeholder {
            color: $placeholder-text-color;
        }
    
        &::selection {
            color: $selection-text-color;
            background-color: $selection-background-color;
        }

        &.error:not(:disabled) {
            border: $error-border;
        }

        &::-ms-clear {
            display: none;
        }

        &:invalid {
            box-shadow: none;
        }
    }

    .calendar-icon {
        @include md-box(absolute, float-right);
        font-size: $font-size-small;
        line-height: 16px;
        padding: $gutter;
        top: $gutter;
        right: 2*$gutter;
        border: none;
        background-color: transparent;
        outline: none;
        pointer-events: none;
        cursor: pointer;
    }

    .dropdown:not(.above) {
        top: calc(100% + 5px);
    }

    .dropdown.above {
        bottom: calc(100% + 5px);

        .calendar {
            margin-bottom: 1.5*$gutter;
        }
    }
}

.dropdown {
    padding-bottom: 2*$gutter;
    left: 0px;
    width: 80*$grid;
    visibility: hidden;
    
    :global(.md-dropdown-container) & {
        background-color: $calendar-bg-color;
        border: $default-border;
        display: inline-block;
        z-index: $calendar-z-index;
    }

    .dropdown-triangle {
        @include md-box(block, absolute);
        width: 2*$grid;
        height: 2*$grid;
        left: 4*$gutter;
    }

    &:not(.above) .dropdown-triangle {
        bottom: calc(100% - 4px);

        background-color: $calendar-bg-color;
        border-left: $default-border;
        border-top: $default-border;
        transform: rotateZ(45deg);
    }

    &.above .dropdown-triangle {
        top: calc(100% - 4px);
        
        background-color: $calendar-bg-color;
        border-right: $default-border;
        border-bottom: $default-border;
        transform: rotateZ(45deg);
    }
}

