@import '../../theme/index';

$line-height: 4*$grid;

$z-index-hover: $z-index-small-step;
$z-index-focus: 2*$z-index-small-step;

.time-input {
    @include md-box(inline-block, relative);
    text-align: center;
}

.time-input-container {
    @include md-box(relative, inline-block);
    font-family: $font-family-default;

    color: $color-text-default;
    font-size: $font-size-text;
    line-height: $line-height;

    .time-input {
        @include md-box();
        width: 12*$grid;
        height: 8*$grid;
        border: $border-default;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0px;
        padding: 0px 0px 0px 4*$gutter;
        background-color: $color-bg-default;
        margin-left: -1px;

        option {
            height: 8*$grid;
            padding: 0px 4*$gutter;

            &:first {
                display: none;
            }
            
            &:checked {
                background-color: $color-bg-selected;
                color: $color-text-bright;
            }
        }

        &:hover {
            border: $border-active;
            z-index: $z-index-hover;
        }
    
        &:focus {
            border: $border-active;
            z-index: $z-index-focus;
        }

        &:active {
            border: $border-active;
        }
        
        &:disabled {
            color: $color-text-disabled;
            border: $border-disabled;
            background-color: $color-bg-disabled;
        }

        &::selection {
            color: $color-text-bright;
            background-color: $color-bg-selected;
        }

        &.error:not(:disabled) {
            border: $border-error;
        }
    }

    .time-input-period {
        padding: 0px 0px 0px 3*$gutter;        
    }
}
