@import '../../common/overrides';
@import '../../common/mixins';
@import '../Input/common';

$text-default-color: md-color(shade, 2);
$text-checked-color: md-color(combo, selected-text);
$text-disabled-color: md-color(shade, 8);
$text-selection-color: md-color(text, white);

$background-color: md-color(shade, f);
$background-checked-color: md-color(form, selected);
$background-disabled-color: md-color(shade, d);
$background-selection-color: md-color(combo, hover);

$arrow-default-color: md-color(shade, 4);

$bg-color: md-color(shade, f);

$z-index-hover: $z-index-small-step;
$z-index-focus: 2*$z-index-small-step;

.time-input {
    @include md-box(inline-block, relative);
    text-align: center;
}

.time-container {
    @include md-box(relative, inline-block);
    font-family: $font-family-base;

    color: $text-default-color;
    font-size: $font-size-text;
    line-height: 4*$grid;

    .time-input {
        @include md-box();
        width: 12*$grid;
        height: 8*$grid;
        border: $inactive-border;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0px;
        padding: 0px 0px 0px 4*$gutter;
        background: $background-color;
        margin-left: -1px;

        option {
            height: 8*$grid;
            padding: 0px 4*$gutter;

            &:first {
                display: none;
            }
            
            &:checked {
                background-color: $background-checked-color;
                color: $text-checked-color;
            }
        }

        &:hover {
            border: $default-border;
            z-index: $z-index-hover;
        }
    
        &:focus {
            border: $default-border;
            z-index: $z-index-focus;
        }

        &:active {
            border: $default-border;
        }
        
        &:disabled {
            color: $text-disabled-color;
            border: $disabled-border;
            background-color: $background-disabled-color;
        }

        &::selection {
            color: $text-selection-color;
            background-color: $background-selection-color;
        }

        &.error:not(:disabled) {
            border: $error-border;
        }
    }

    .time-period {
        padding: 0px 0px 0px 3*$gutter;        
    }
}
