@import '../../theme/index';

$component: md-component('time-input', (
    color: (
        default: (color, input, default),
        checked: (color, interactive, dark),
        disabled: (color, input, disabled),
        selection: (color, white),
    ),
    bg-color: (
        default: (bg-color, input, default),
        checked: (color, interactive, default),
        disabled: (bg-color, input, disabled),
        selection: (bg-color, option, selected),
    ),
    border: (
        default: (border, input, default),
        focus: (border, input, focus),
    ),
    font: (
        default: (font, default),
        size: (font, size, default),
        line-height: 4*$grid,
    )
));    

$z-index-hover: $z-index-small-step;
$z-index-focus: 2*$z-index-small-step;

.time-input {
    @include md-box(inline-block, relative);
    text-align: center;
}

.time-input-container {
    @include md-box(relative, inline-block);
    font-family: font(default);

    color: color(default);
    font-size: font(size);
    line-height: font(line-height);

    .time-input {
        @include md-box();
        width: 12*$grid;
        height: 8*$grid;
        border: border(default);
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0px;
        padding: 0px 0px 0px 4*$gutter;
        background-color: bg-color(default);
        margin-left: -1px;

        option {
            height: 8*$grid;
            padding: 0px 4*$gutter;

            &:first {
                display: none;
            }
            
            &:checked {
                background-color: bg-color(checked);
                color: color(checked);
            }
        }

        &:hover {
            border: border(focus);
            z-index: $z-index-hover;
        }
    
        &:focus {
            border: border(focus);
            z-index: $z-index-focus;
        }

        &:active {
            border: border(focus);
        }
        
        &:disabled {
            color: color(disabled);
            border: border(disabled);
            background-color: bg-color(disabled);
        }

        &::selection {
            color: color(selection);
            background-color: bg-color(selection);
        }

        &.error:not(:disabled) {
            border: border(error);
        }
    }

    .time-input-period {
        padding: 0px 0px 0px 3*$gutter;        
    }
}
