@function method($block, $element: null, $modifier: null) {
    @if ($element) {
        $element: "__#{$element}";
    }
    @if ($modifier) {
        $modifier: "--#{$modifier}";
    }
    $blockname: "md-#{$block}#{$element}#{$modifier}";
}

@function md-tag($block, $element) {
    $blockname: "md-#{$block}";
    @return "#{$blockname}__#{$element}";
}

@function md-mod($block, $modifier) {
    @return "#{$block}--#{$modifier}";
}

@mixin element($name) {
    &__#{$name} {
        $parent: #{&};
        @content;
    }
}

@mixin modifier($name) {
    &--#{$name} {
        $parent: #{&};
        @content;
    }
}

@mixin background-image($path, $position: 0 0, $repeat: no-repeat) {
    background: {
        image: url($path);
        position: $position;
        repeat: $repeat;
    }
}