@font-face {
    font-family: 'icons';
    src: url('https://static.azureiotcentral.com/ux/static/media/segmdl2.1.61.38af5f02.woff') format('woff'), url('https://static.azureiotcentral.com/ux/static/media/segmdl2.1.61.38af5f02.ttf') format('truetype');
}

.icon {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
}


.icon-chevronDown:before {
    content: '\E70D';
}

.icon-chevronUp:before {
    content: '\E70E';
}

.icon-info:before {
    content: '\E946';
}

.icon-cancel:before {
    content: '\E711';
}

.icon-chevronDown4Legacy:before {
    content: '\E0A1';
}

.icon-cancelLegacy:before {
    content: '\E10A';
}

.icon-globalNavButton:before {
    content: '\E700';
}