@import './theme/index';

$component: md-component('button', (
    color: (
        disabled: (color, neutral, secondary, alt, 5),
        primary: (
            default: (color, interactive, dark),
            pressed: (color, white),
        ),
        secondary: (
            default: (color, neutral, primary),
            pressed: (color, white),
        ),
    ),
    bg-color: (
        disabled: (color, neutral, tertiary, alt, 2),
        primary: (
            default: (color, interactive, default),
            hover: (color, interactive, hover),
            pressed: (color, interactive, pressed),
        ),
        secondary: (
            default: (color, neutral, tertiary, alt),
            hover: (color, neutral, tertiary),
            pressed: (color, neutral, secondary, alt, 5 ),
        ),
    ),
    font: (
        default: (font, default),
        size: (font, size, default),
        line-height: 8*$grid,
    ),
    icon: (
        size: (icon, size, xsmall),
    ),
    outline: (
        focus: (outline, focus),
    ),
));

$primary-color: color(primary, default);
$primary-pressed-color: color(primary, pressed);

$primary-bg-color: bg-color(primary, default);
$primary-hover-bg-color: bg-color(primary, hover);
$primary-pressed-bg-color: bg-color(primary, pressed);

$default-color: color(secondary, default);
$default-pressed-color: color(secondary, pressed);

$default-bg-color: bg-color(secondary, default);
$default-hover-bg-color: bg-color(secondary, hover);
$default-pressed-bg-color: bg-color(secondary, pressed);

$disabled-color: color(disabled);
$disabled-bg-color: bg-color(disabled);

$default-button-colors: (
    default: $default-color,
    pressed: $default-pressed-color,
    disabled: $disabled-color,
);

$default-button-bg-colors: (
    default: $default-bg-color,
    hover: $default-hover-bg-color,
    pressed: $default-pressed-bg-color,
    disabled: $disabled-bg-color
);

$primary-button-colors: (
    default: $primary-color,
    pressed: $primary-pressed-color,
    disabled: $disabled-color,
);

$primary-button-bg-colors: (
    default: $primary-bg-color,
    hover: $primary-hover-bg-color,
    pressed: $primary-pressed-bg-color,
    disabled: $disabled-bg-color,
);


@mixin md-button-style($text-colors: $default-button-colors, $bg-colors: $default-button-colors, $outline: outline(focus)) {
    @include md-box(inline-block, relative);
    font-family: font(default);
    font-size: font(size);
    line-height: font(line-height);

    height: 8*$grid;
    padding-left: 5*$gutter;
    padding-right: 5*$gutter;

    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;

    color: map-get-default($text-colors, default, $default-color);
    background-color: map-get-default($bg-colors, default, $default-bg-color);

    &:hover:not(:disabled) {
        background-color: map-get-default($bg-colors, hover, $default-hover-bg-color);
        cursor: pointer;
    }
    
    &:focus:not(:disabled) {
        outline: $outline;
    }

    &:active:not(:disabled) {
        color: map-get-default($text-colors, pressed, $default-pressed-color);
        background-color: map-get-default($bg-colors, pressed, $default-pressed-bg-color);
    }

    &:disabled {
        color: map-get-default($text-colors, disabled, $disabled-color);
        background-color: map-get-default($bg-colors, disabled, $disabled-bg-color);
    }
}

:global(.btn) {
    @include md-button-style($default-button-colors, $default-button-bg-colors);
}

:global(.btn-primary) {
    @include md-button-style($primary-button-colors, $primary-button-bg-colors);
}

:global(.btn), :global(.btn-primary) {
    vertical-align: middle;
    font-size: font(size);
    line-height: font(line-height);

    :global(.icon) {
        @include md-box(inline-block);
        vertical-align: middle;
        margin-right: 2*$gutter;
        margin-top: -0.5*$gutter;
        
        font-size: icon(size);
        line-height: font(line-height);
    }
}