@import './theme/index';

$line-height: 8*$grid-size;

$primary-color: $color-text-default;
$primary-pressed-color: $color-text-bright;

$primary-bg-color: $color-bg-btn-primary-default;
$primary-hover-bg-color: $color-bg-btn-primary-hover;
$primary-pressed-bg-color: $color-bg-btn-primary-pressed;

$default-color: $color-text-default;
$default-pressed-color: $color-text-bright;

$default-bg-color: $color-bg-btn-secondary-default;
$default-hover-bg-color: $color-bg-btn-secondary-hover;
$default-pressed-bg-color: $color-bg-btn-secondary-pressed;

$disabled-color: $color-text-disabled;
$disabled-bg-color: $color-bg-disabled;

$default-button-colors: (
    default: $default-color,
    pressed: $default-pressed-color,
    disabled: $disabled-color,
);

$default-button-bg-colors: (
    default: $default-bg-color,
    hover: $default-hover-bg-color,
    pressed: $default-pressed-bg-color,
    disabled: $disabled-bg-color
);

$primary-button-colors: (
    default: $primary-color,
    pressed: $primary-pressed-color,
    disabled: $disabled-color,
);

$primary-button-bg-colors: (
    default: $primary-bg-color,
    hover: $primary-hover-bg-color,
    pressed: $primary-pressed-bg-color,
    disabled: $disabled-bg-color,
);


@mixin md-button-style($text-colors: $default-button-colors, $bg-colors: $default-button-colors, $outline: $outline-focus) {
    @include md-box(inline-block, relative);
    font-family: $font-family-default;
    font-size: $font-size-default;
    line-height: $line-height;

    height: 8*$grid-size;
    padding-left: 5*$grid-size;
    padding-right: 5*$grid-size;

    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    max-width: $button-max-width;

    color: map-get-default($text-colors, default, $default-color);
    background-color: map-get-default($bg-colors, default, $default-bg-color);

    &:hover:not(:disabled) {
        background-color: map-get-default($bg-colors, hover, $default-hover-bg-color);
        cursor: pointer;
    }
    
    &:focus:not(:disabled) {
        outline: $outline;
    }

    &:active:not(:disabled) {
        color: map-get-default($text-colors, pressed, $default-pressed-color);
        background-color: map-get-default($bg-colors, pressed, $default-pressed-bg-color);
    }

    &:disabled {
        color: map-get-default($text-colors, disabled, $disabled-color);
        background-color: map-get-default($bg-colors, disabled, $disabled-bg-color);
    }
}

:global(.btn), .method-btn {
    @include md-button-style($default-button-colors, $default-button-bg-colors);
}

:global(.btn-primary), .method-btn-primary {
    @include md-button-style($primary-button-colors, $primary-button-bg-colors);
}

:global(.btn), :global(.btn-primary), .method-btn, .method-btn-primary {
    vertical-align: middle;
    font-size: $font-size-default;
    line-height: $line-height;

    :global(.icon) {
        @include md-box(inline-block);
        vertical-align: middle;
        margin-right: 2*$grid-size;
        margin-top: -0.5*$grid-size;
        
        font-size: $icon-size-xsmall;
        line-height: $line-height;
    }
}