@import './theme/index';

$component: md-component('link', (
    color: (
        default: (color, link, default),
        hover: (color, link, hover),
        pressed: (color, link, pressed),
        visited: (color, link, visited),
        disabled: (color, link, disabled),
    ),
    font: (
        default: (font, default),
        size: (font, size, default),
        line-height: 5*$grid,
    ),
    outline: (
        focus: (outline, focus),
    ),
));

$default-link-outline: outline(focus);

@mixin md-link-style($text-colors: (), $outline: $default-link-outline) {
    @include md-box(inline-block, relative);
    font-family: $font-family-default;

    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;

    color: map-get-default($text-colors, default, $color-link-default);

    &:hover:not(:global(.disabled)) {
        color: map-get-default($text-colors, hover, $color-link-hover);
        cursor: pointer;
    }
    
    &:focus:not(:global(.disabled)) {
        outline: $outline;
    }

    &:active:not(:global(.disabled)) {
        color: map-get-default($text-colors, pressed, $color-link-pressed);
    }

    &:visited:not(:global(.disabled)) {
        color: map-get-default($text-colors, visited, $color-link-visited);
    }

    &:global(.disabled) {
        pointer-events: none;
        color: map-get-default($text-colors, disabled, $color-link-disabled);
    }
}

:global(.link) {
    @include md-link-style((), $default-link-outline);
}