@import '../../common/overrides';

$default-text-color: #212121;
$disabled-text-color: #a6a6a6;
$placeholder-text-color: #767676;
$selection-text-color: #ffffff;
$disabled-text-color: #888888;
$error-text-color: #d02e00;
$error-color: #d02e00;
$cancel-default-color: #666666;
$cancel-default-color: #666666;

$default-border-color: #666666;
$inactive-border-color: #c8c8c8;

$selection-background-color: #3062d6;
$disabled-background-color: #dcdcdc;