@import 'common';

$default-border: 1px solid md-color(shade, 6);
$checked-border: none;
$hover-border: 1px solid md-color(shade, 3);
$focused-border: 1px dashed md-color(shade, 3);
$disabled-border: 1px solid md-color(shade, a);
$intermediate-border: 1px solid md-color(selected, default);

$background-checked-color: md-color(selected, default);
$background-hover-color: md-color(selected, hover);
$background-disabled-color: md-color(shade, a);

$text-default-color: md-color(shade, 2);
$text-disabled-color: md-color(shade, a);

$fill-default-bg: md-color(selected, dark);

.checkbox-container {
    @include md-box(block, relative);
    font-family: $font-family-base;
    color: $text-default-color;
    font-size: $font-size-text;
    line-height: 16px;

    & + &:not(.columns) {
        margin-top: 12px;
    }

    &.columns {
        display: inline-block;
            
        margin-right: 8px;
    }

    input {
        @include md-box(inline-block, relative);

        width: 0px;
        height: 0px;
        border: none;
    }

    .checkbox-text {
        @include md-box(inline-block, relative);
        vertical-align: top;
        padding-left: 8px;
    }

    .checkbox-fill {
        @include md-box(inline-block, absolute);
        left: 8px;
        top: 8px;
        width: 4px;
        height: 4px;
        background-color: $fill-default-bg;
    }

    .checkbox-border {
        @include md-box(inline-block, absolute);
        left: -2px;
        top: -2px;
        width: 20px;
        height: 20px;
    }

    .checkbox-button {
        @include md-box(inline-block, relative);
        width: 16px;
        height: 16px;
        border: $default-border;
        outline: none;
        vertical-align: top;
    }

    .checkbox-label {
        @include md-box(inline-block, relative);

        &.disabled {
            color: $text-disabled-color;
        }
    }
}

.checkbox-container {
    @include md-text-color((
        default: white,
        checkbox-label: (
            default: blue,
            +hover: (
                default: green,
                checkbox-label: red
            )
        )
    ));
}