@import 'common';

.form-field {
    font-family: $font-family-base;
    display: block;
}

.label {
    @include md-box(inline-block);
    color: md-color(shade, 2);
    font-family: $font-family-base;
    font-size: $font-size-text;
    line-height: 20px;
    
    margin-bottom: 4px;

    &.disabled {
        color: md-color(shade, a);
    }

    .required &::after {
        content: ' *';
        color: md-color(text, error);
    }
}

.field-error {
    @include md-box(inline-block, ellipsis);
    height: 20px;
    margin-top: 4px;
    max-width: 100%;
    
    color: md-color(text, error);
    
    font-family: $font-family-base;
    font-size: $font-size-small;
    line-height: 20px;
}
