@import 'common';

$text-default-color: md-color(shade, 2);
$text-disabled-color: md-color(shade, a);
$text-error-color: md-color(text, error);

.form-field {
    font-family: $font-family-base;
    display: block;
}

.label {
    @include md-box(inline-block);
    color: $text-default-color;
    font-family: $font-family-base;
    font-size: $font-size-text;
    line-height: 20px;

    &.disabled {
        color: $text-disabled-color;
    }

    .required &::after {
        content: ' *';
        color: $text-error-color;
    }

    & + .content {
        margin-top: $gutter;    
    }
}

.field-error {
    @include md-box(inline-block, ellipsis);
    height: 5*$grid;
    margin-top: $gutter;
    width: 100%;
    
    color: $text-error-color;
    
    font-family: $font-family-base;
    font-size: $font-size-small;
    line-height: 20px;

    &.hidden {
        display: none;
    }
}
