@import 'common';

$default-border: 1px solid md-color(shade, 6);
$checked-border: 1px solid md-color(form, selected);
$hover-border: 1px solid md-color(shade, 3);
$focused-border: 1px dashed md-color(shade, 3);
$disabled-border: 1px solid md-color(shade, a);

.radio-container {
    @include md-box(block, relative);
    font-family: $font-family-base;

    color: md-color(shade, 2);
    font-size: $font-size-text;
    line-height: 16px;

    & + &:not(.columns) {
        margin-top: 12px;
    }

    &.columns {
        display: inline-block;
    }

    input {
        @include md-box(inline-block, relative);
        width: 0px;
        height: 0px;
        border: none;

        &:checked {
            & ~ .radio-button {
                border: $checked-border;
            }

            & ~ .radio-fill{
                background-color: md-color(shade, 3);
            }
        }
        
        &:focus ~ .radio-border {
            border: $focused-border;        
        }

        &:hover:not(:checked) ~ .radio-button {
            border: $hover-border;
        }
    
        &:focus:not(:checked) ~ .radio-button {
            border: $default-border;
        }
    }

    .radio-fill {
        @include md-box(inline-block, relative);
        left: -12px;
        top: -6px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }

    .radio-border {
        @include md-box(inline-block, relative);
        left: -26px;
        top: 0px;
        width: 20px;
        height: 20px;
    }

    .radio-button {
        @include md-box(inline-block, relative);
        width: 16px;
        height: 16px;
        border-radius: 8px;
        border: $default-border;
        outline: none;
        vertical-align: top;
        margin-top: 2px;

        .radio-fill {
            display: none;
        }

        .radio-border {
            display: none;
        }

        &.disabled {
            border: $disabled-border !important;
        }
    }

    .radio-text {
        @include md-box(inline-block, relative);
        top: 50%;
        left: -20px;
        vertical-align: top;
    }

    .radio-fill.disabled {
        background-color: md-color(shade, a) !important;
    }

    .radio-label {
        @include md-box(inline-block);
    }

    .radio-label.disabled {
        color: md-color(shade, a);
    }
}
