@import 'common';

.textarea-container {
    @include md-box(block, relative);

    .textarea-ghost {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        visibility: hidden;
    }
}

.textarea {
    @include md-box(block, relative);
    width: 100%;
    min-height: 13*$grid;
    padding: 2*$gutter 2*$gutter 2*$gutter 3*$gutter;
    
    font-family: $font-family-base;
    color: $default-text-color;
    font-size: $font-size-text;
    line-height: 20px;
    
    border: $inactive-border;
    outline: none;

    &:hover {
        border: $default-border;
    }

    &:focus {
        border: $default-border;
    }

    &:active {
        border: $default-border;
    }
    
    &:disabled {
        color: $disabled-text-color;
        border: $disabled-border;
        background-color: $disabled-background-color;

        &::placeholder {
            color: $disabled-text-color;
        }
    }

    &::placeholder {
        color: $placeholder-text-color;
    }

    &::selection {
        color: $selection-text-color;
        background-color: $selection-background-color;
    }

    &.error:not(:disabled) {
        border: $error-border;
    }

    &::-ms-clear {
        display: none;
    }

    &:invalid {
        -moz-mox-shadow: none;
    }
}
