@import '../../common/overrides';

$default-text-color: #212121;
$disabled-text-color: #a6a6a6;
$placeholder-text-color: #767676;
$selection-text-color: #ffffff;
$disabled-text-color: #888888;
$error-text-color: #ffffff;
$error-color: #d02e00;
$cancel-default-color: #666666;
$cancel-default-color: #666666;

$default-border-color: #666666;
$inactive-border-color: #c8c8c8;

$selection-background-color: #3062d6;
$disabled-background-color: #dcdcdc;

.form-field {
    font-family: $font-family-base;
    display: block;

    header {
        font-family: $font-family-base;
        color: $default-text-color;
        line-height: 20px;
        margin-bottom: 4px;
    }

    * {
        margin: 0;
        padding: 0;
    }
}

.label {
    color: $default-text-color;
    font-family: $font-family-base;
    font-size: 14px;
    line-height: 20px;
    vertical-align: center;
    
    margin-bottom: 4px;

    &.disabled {
        color: $disabled-text-color;
    }

    .required {
        color: $error-color;
    }
}

.input-container {
    position: relative;
    display: block;
    width: 100%;
    font-family: $font-family-base;
    padding: 0;
    margin-bottom: 8px;
    box-sizing: border-box;

    color: $default-text-color;
    font-size: 14px;
    line-height: 20px;
    vertical-align: center;

    .input {
        box-sizing: border-box;
        width: 100%;
        height: 32px;
        padding: 8px 8px 8px 12px;
        border: 1px solid $inactive-border-color;
        outline: none;

        &:valid {
            padding: 8px 12px 8px 12px;
        }

        &:hover {
            border: 1px solid $default-border-color;
        }
    
        &:focus {
            border: 1px solid $default-border-color;

            &:valid {
                padding-right: 32px;

                + .cancel {
                    color: $cancel-default-color;
                    pointer-events: auto;
                }
            }
        }

        &:active {
            border: 1px solid $default-border-color;

            &:valid {
                padding-right: 32px;

                + .cancel {
                    color: $cancel-default-color;
                    pointer-events: auto;
                }
            }
        }
        
        &:disabled {
            color: $disabled-text-color;
            border: 1px solid $disabled-background-color;
            background-color: $disabled-background-color;
    
            &::placeholder {
                color: $disabled-text-color;
            }
        }
    
        &::placeholder {
            color: $placeholder-text-color;
        }
    
        &::selection {
            color: $selection-text-color;
            background-color: $selection-background-color;
        }

        &.error {
            border: 1px solid $error-color;            
        }
    }

    .cancel {
        float:right;
        color: transparent;
        font-size: 12px;
        line-height: 32px;
        position: absolute;
        top: 0px;
        right: 8px;
        border: none;
        background-color: transparent;
        outline: none;
        pointer-events: none;
        cursor: pointer;
        
        &:focus {
            color: $cancel-default-color;
            pointer-events: auto;
        }

        &:active {
            color: $cancel-default-color;
            pointer-events: auto;
        }
    }
}

.cancel:focus ~ .input{
    padding-right: 32px;
}

.input-error {
    input {
    }
}

.field-error {
    box-sizing: border-box;
    height: 32px;
    padding: 0px 8px 0px 8px;
    
    border: 1px solid $error-color;
    background-color: $error-color;
    color: $error-text-color;
    
    font-family: $font-family-base;
    font-size: 14px;
    line-height: 32px;
    vertical-align: center;


    span {
        font-size: 16px;
        line-height: 32px;
    }
}