@import 'common';

.form-field {
    font-family: $font-family-base;
    display: block;
}

.label {
    display: block;
    color: $default-text-color;
    font-family: $font-family-base;
    font-size: $font-size-text;
    line-height: 20px;
    vertical-align: center;
    
    margin-bottom: 4px;

    &.disabled {
        color: $disabled-text-color;
    }

    .required &::after {
        content: ' *';
        color: $error-color;
    }
}

.field-error {
    display: block;
    box-sizing: border-box;
    height: 20px;
    
    color: $error-text-color;
    
    font-family: $font-family-base;
    font-size: $font-size-small;
    line-height: 20px;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}