@import '../../theme/index';

$component: md-component('gallery-card', (
    color: (
        header: (color, neutral, primary, alt, 2),
        section: (color, neutral, secondary, alt),
        banner: (color, neutral, light),
    ),
    bg-color: (
        default: (color, neutral, light),
        solid: (color, neutral, light),
        banner: (color, neutral, primary),
    ),
    border: (
        default: (border, gallery-card, default),
        hover: (border, gallery-card, hover),
    ),
    font: (
        default: (font, default),
        size: (
            default: (font, size, default),
            header: (font, size, h4),
            section: 13px,
        ),
        line-height: (
            default: 5*$grid,
            section: 4*$grid,
        ),
    ),
    size: (
        width: (size, gallery-card, width),
        height: (size, gallery-card, height),
        background: (
            height: (size, gallery-card, background, height),
        ),
        icon: (icon, size, xxlarge),
    ),
    transition: (
        background: (transition, gallery-card, background-color)
    )
));

$card-content-margin: 20px 20px 16px 20px;
$card-fixed-content-height: size(height) - size(background, height);
$card-icon-top: (size(background, height) - size(icon));
$card-icon-left: (size(width) - size(icon));

a:focus .card:not(.disabled) {
    border: border(hover);
}

.card {
    @include md-box(inline-block, relative, hidden);
    background-color: bg-color(default);
    border: border(default);
    margin: 2.5*$gutter;

    &:hover:not(.disabled) {
        border: border(hover);
    }

    &.fixed {
        height: size(width);
        width: size(height);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }
}

%card-background {
    @include md-box(inline-block, relative);
    width: 100%;
    background-color: transparent;
    transition: transition(background);

    &.fixed {
        width: size(width);
        height: size(background, height);
    }

    .fullbg & {
        height: 100%;
    }
}

.background-image-container {
        @extend %card-background;
        overflow: hidden;

        .background-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
}

.background-color {
        @extend %card-background;
        background-color: bg-color(solid);
}

.card-content {
    @include md-box(relative, hidden, flex-column);
    padding: $card-content-margin;
    font-family: font(default);
    overflow: hidden;

    header {
        font-size: font(size, header);
        line-height: font(line-height);
        color: color(header);
        margin-bottom: $gutter;
        flex: 0 0 5*$grid;
    }

    section {
        @include md-box();
        font-size: font(size, section);
        line-height: font(line-height, section);
        color: color(section);
        overflow: hidden;
    }
    
    footer {
        font-size: font(size, default);
        line-height: font(line-height);
        flex: 0 0 4*$grid;
    }
    
    .fixed & {
        height: $card-fixed-content-height;
    }
}

.banner {
    @include md-box(block, absolute);
    top: 0px;
    left: 0px;
    right: 0px;
    padding: $gutter;
    background-color: bg-color(banner);
    color: color(banner);
    font-family: font(default);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.gallery-card-icon {
    background-color: transparent;
    color: white;
    text-align: center;

    .icon-title {
        @include md-box(block);
        font-family: font(default);
        font-size: font(size, default);
    }
}
