@import '../../common/overrides';
@import '../../common/mixins';

$card-fixed-width: 284px;
$card-fixed-height: 284px;
$card-fixed-background-height: 160px;
$card-fixed-content-height: $card-fixed-height - $card-fixed-background-height;

$card-content-margin: 20px 20px 16px 20px;

$card-icon-width: 96px;
$card-icon-height: 96px;
$card-icon-top: ($card-fixed-background-height - $card-icon-height);
$card-icon-left: ($card-fixed-width - $card-icon-width);

$card-hover-shadow: 0px 0px 10px 1px md-color(shadow, default);

.card {
  @include md-box(inline-block, relative, hidden);
  background-color: md-color(shade, e);
  border: 1px solid md-color(shade, 0);
  margin: 10px;

  &:focus, &:hover {
    border: 1px solid md-color(shade, 0);
    box-shadow: $card-hover-shadow;
  }

  &.fixed {
    height: $card-fixed-width;
    width: $card-fixed-height;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
}

%card-background {
  @include md-box(block, relative);
  width: 100%;
  background-color: md-color(transparent);
  transition: background-color 0.2s ease-in-out;

  &.fixed {
    width: $card-fixed-width;
    height: $card-fixed-background-height;
  }

  .fullbg & {
    height: 100%;
  }
}

.background-image {
    @extend %card-background;
    background-size: cover;
}

.background-color {
    @extend %card-background;
    background-color: md-color(shade, e);
}

.card-content {
  @include md-box(relative, hidden, flex-column);
  padding: $card-content-margin;
  font-family: $font-family-base;

  header {
    font-size: 16px;
    line-height: 20px;
    color: md-color(shade, 2);
    margin-bottom: 4px;
    flex: 0 0 20px;
  }

  section {
    @include md-box(ellipsis);
    font-size: 13px;
    line-height: 16px;
    color: md-color(shade, 6);
    margin-bottom: 16px;
  }
  
  footer {
    font-size: $font-size-text;
    line-height: 20px;
    flex: 0 0 16px;
  }
  
  .fixed & {
    text-overflow: ellipsis;
    height: $card-fixed-content-height;
  }
}

.banner {
  @include md-box(block, absolute);
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 4px;
  background-color: md-color(shade, 0);
  color: md-color(shade, e);
  font-family: $font-family-base;
  text-overflow: ellipsis;
  text-align: center;
}

.gallery-card-icon {
  background-color: transparent;
  color: white;
  text-align: center;

  .icon-title {
    @include md-box(block);
    font-family: $font-family-base;
    font-size: $font-size-text;
  }
}
