/*
The basis for larger building blocks
*/
$grid-size: 4px !default;

$gutter-xsmall: 12px !default;
$gutter-small: 16px !default;
$gutter-normal: 20px !default;
$gutter-big: 32px !default;
$gutter-bigger: 40px !default;

// primary - grayscale
$color-black: #000 !default;
$color-neutral-primary: #333333 !default;
$color-neutral-primary-alt-2: #212121 !default;
$color-neutral-primary-alt: #444444 !default;
$color-neutral-secondary: #3c3c3c !default;
$color-neutral-secondary-alt: #666 !default;
$color-neutral-secondary-alt-2: #515151 !default;
$color-neutral-secondary-alt-3: #4a4a4a !default;
$color-neutral-secondary-alt-4: #767676 !default;
$color-neutral-secondary-alt-5: #888 !default;
$color-neutral-tertiary: #a6a6a6 !default;
$color-neutral-tertiary-2: #bcbcbc !default;
$color-neutral-tertiary-alt: #c8c8c8 !default;
$color-neutral-tertiary-alt-2: #dcdcdc !default;
$color-neutral-light: #eaeaea !default;
$color-neutral-lighter: #f4f4f4 !default;
$color-neutral-lighter-alt: #f8f8f8 !default;
$color-white: #fff !default;
$color-red: #e81123 !default;
$color-chart-ticks: $color-neutral-secondary-alt-4 !default;
$color-homepage-header: rgba(0,0,0,.5) !default;

// primary - alt
$color-cool-grey-1: #1f2328 !default;
$color-cool-grey-2: #31373e !default;
$color-cool-grey-3: #3d4147 !default;
$color-cool-grey-4: #4b5157 !default;
$color-cool-grey-5: #62666c !default;

// entities
$color-green: #107c10 !default;
$color-orange: #ff8c00 !default;
$color-teal: #008272 !default;
$color-purple: #5c2d91 !default;

// theme
$color-theme-dark: #005a9e !default;
$color-theme-primary: #0078d6 !default;
$color-theme-primary-alt: #4ba0e4 !default;
$color-theme-light: #b3d6f2 !default;
$color-theme-lighter: #deecf9 !default;

// data colors
$color-data-1: #01b8aa !default;
$color-data-2: #374649 !default;
$color-data-3: #fd625e !default;
$color-data-4: #f2c80f !default;
$color-data-5: #5f6b6d !default;
$color-data-6: #8ad4eb !default;
$color-data-7: #fe9666 !default;
$color-data-8: #a66999 !default;
$color-data-9: #3599b8 !default;
$color-data-10: #dfbfbf !default;
$color-data-11: #fd625e !default;
$color-data-12: #f2c80f !default;
$color-data-13: #01b8aa !default;

$color-alert-warning: #f9e385 !default;
$color-alert-error: #d02e00 !default;

$color-input-error: #d02e00 !default;
$color-input-selection: #3062d6 !default;

$color-interactive-default: #00b7c3 !default;
$color-interactive-hover: #009ca6 !default;
$color-interactive-pressed: #008089 !default;
$color-interactive-dark: #002050 !default;
$color-interactive-alt: #3062d6 !default;

$color-link-default: #3062d6;
$color-link-hover: #1a37d3;
$color-link-pressed: #1a37d3;
$color-link-visited: #3062d6;
$color-link-disabled: #a6a6a6;

// Outlines
$outline-default: 1px dashed $color-neutral-primary !default;
$outline-focus: 1px dashed $color-neutral-primary !default;

// Font constants
$font-size-text: 14px !default;
$font-size-base: $font-size-text !default;
$font-size-small: 12px !default;
$font-size-h1: 36px !default;
$font-size-h2: 20px !default;
$font-size-h3: 18px !default;
$font-size-h4: 16px !default;

$typography-h1-font-size: 32px !default;
$typography-h2-font-size: 24px !default;
$typography-normal-font-size: 14px !default;
$typography-subtitle-font-size: 12px !default;
$typography-h5-font-size: 18px !default;
$typography-normal-icon-size: 16px !default;
$typography-chart-font-size: 12px !default;
$typography-small-font-size: 11px !default;
$typography-regular-font-stack: "Segoe UI Regular", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif !default;
$typography-light-font-stack: "Segoe UI Semilight", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif !default;

$typography-default-line-height: normal !default;

// Icon
$icon-font-family: "icons" !default;
$icon-size-base: $typography-normal-icon-size !default;
$icon-size-xsmall: $icon-size-base !default;
$icon-size-small: 1 * $icon-size-base !default;
$icon-size-medium: 2 * $icon-size-base !default;
$icon-size-large: 3 * $icon-size-base !default;
$icon-size-xlarge: 4 * $icon-size-base !default;
$icon-size-xxlarge: 5 * $icon-size-base !default;

$method-theme-override: (
    
) !default;

$method-component-override: (

) !default;
