@import '../../theme/constants.v2';
@import 'mixins';

$gutter: 4px;
$grid: 4px;

$font-family-default: $typography-regular-font-stack;
$font-family-light: $typography-light-font-stack;

/// ----------------------------------------------------

$color-text-default: #333;
$color-text-disabled: #888;
$color-text-bright: #fff;
$color-text-placeholder: #a6a6a6;
$color-text-cancel: #666; 
$color-text-chevron: #a6a6a6;

$color-link-default: #3062d6;
$color-link-hover: #1a37d3;
$color-link-pressed: #1a37d3;
$color-link-visited: #3062d6;
$color-link-disabled: #a6a6a6;

$color-theme-dark: #005a9e;
$color-theme-primary: #0078d6;
$color-theme-primary-alt: #4ba0e4;
$color-theme-error: #d02e00;

$color-text-gallery-card-header: #333;
$color-text-gallery-card-content: #515151;
$color-text-gallery-card-banner: #fff;

/// ----------------------------------------------------

$color-bg-default: #fff;
$color-bg-hover: #deecf9;
$color-bg-pressed: #000;
$color-bg-disabled: #dcdcdc;
$color-bg-selected: #4ba0e4;
$color-bg-selected-hover: #005a9e;
$color-bg-selected-disabled: #a6a6a6;

$color-bg-btn-primary-default: #4ba0e4;
$color-bg-btn-primary-hover: #005a9e;
$color-bg-btn-primary-pressed: #000;

$color-bg-btn-secondary-default: #4ba0e4;
$color-bg-btn-secondary-hover: #005a9e;
$color-bg-btn-secondary-pressed: #000;

$color-bg-alert-info: #dcdcdc;
$color-bg-alert-warning: #f9e385;
$color-bg-alert-error: #d02e00;
$color-bg-addon: transparent;
$color-bg-balloon: #333;
$color-bg-gallery-card: #eaeaea;
$color-bg-gallery-card-banner: #333;
$color-bg-management-list: #fff;

$color-border-default: #c8c8c8;
$color-border-active: #333;
$color-border-disabled: #dcdcdc;
$color-border-selected-disabled: #888;

$color-border-gallery-card-default: #a6a6a6;
$color-border-gallery-card-hover: #333;

$color-outline-focus: #333;

/// ----------------------------------------------------

$border-default: 1px solid $color-border-default;
$border-active: 1px solid $color-border-active;
$border-disabled: 1px solid $color-border-disabled;
$border-error: 1px solid $color-theme-error;

$border-selected: 1px solid $color-theme-primary;
$border-selected-hover: 1px solid $color-theme-dark;
$border-selected-disabled: 1px solid $color-border-selected-disabled;

$border-gallery-card-default: 1px solid $color-border-gallery-card-default;
$border-gallery-card-hover: 1px solid $color-border-gallery-card-hover;

$border-toggle-on: 1px solid $color-bg-selected;
$border-toggle-on-hover: 1px solid $color-bg-selected-hover;
$border-toggle-on-disabled: 1px solid $color-bg-selected-disabled;

$border-toggle-off: $border-default;
$border-toggle-off-hover: $border-active;
$border-toggle-off-disabled: $border-disabled;

/// ----------------------------------------------------

$outline-focus: 1px dashed $color-outline-focus;

$font-size-text: 14px;
$font-size-small: 12px;
$font-size-h4: 16px;

$font-family-din-regular: join('DIN-Regular', $typography-regular-font-stack);

/// ----------------------------------------------------

$input-height: 8*$grid;
$option-height: 8*$grid;
$dropdown-max-height: 50*$grid;

// Icon
$icon-font-family: "icons";
$icon-size-base: $typography-normal-icon-size;
$icon-size-xsmall: $icon-size-base;
$icon-size-small: 1 * $icon-size-base;
$icon-size-medium: 2 * $icon-size-base;
$icon-size-large: 3 * $icon-size-base;
$icon-size-xlarge: 4 * $icon-size-base;
$icon-size-xxlarge: 5 * $icon-size-base;

$balloon-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
