@import '../../theme/index';

$management-list-column-basis: 25*$grid;
$management-list-row-height: 12*$grid;
$management-list-select-all-width: 8*$grid;

$line-height-small: 4*$grid;
$line-height-sort: 3*$grid;

.list-container {
    @include md-box(flex, relative);
    width: 100%;

    .column {
        @include md-box(block, relative);
        flex-basis: $management-list-column-basis;
        
        &.auto-width {
            flex-grow: 1;
            flex-shrink: 0;
        }
        
        &.checkbox {
            flex: 0 0 $management-list-select-all-width;
        }
        
        &:first-child {
            .column-header {
                padding-left: 5*$gutter;
            }

            .column-content {
                padding-left: 5*$gutter;
            }
        }
        
        .column-header {
            @include md-box(block, relative);
            @include md-button-reset();
            
            font-family: $font-family-din-regular;
            font-size: $font-size-small;
            line-height: $line-height-small;
            color: $color-text-default;
            
            padding-top: 2*$gutter;
            padding-right: 5*$gutter;
            vertical-align: bottom;            

            white-space: nowrap;
            
            &.checkbox {
                padding-right: 3*$gutter;            
            }

            .checkbox-empty {
                height: $line-height-small;
            }

            &.checkbox-empty {
                cursor: initial;
            }

            .sort-direction::before {
                line-height: $line-height-sort;
                margin-left: 2*$gutter;
            }
        }

        .column-content {
            @include md-box(inline-block, relative);
            font-family: $font-family-default;
            font-size: $font-size-text;
            line-height: $line-height-small;
            color: $color-text-default;
            background-color: $color-bg-management-list;

            vertical-align: bottom;

            width: 100%;
            height: $management-list-row-height;
            padding-top: 4*$gutter;
            padding-right: 5*$gutter;
            margin-top: 2*$gutter;
            
            white-space: nowrap;

            &:first-child {
                padding-left: 5*$gutter;
            }

            &.checkbox {
                padding-right: 3*$gutter;
            }
        }

        .select-all-label {
            display: none;
        }
    }
}
