@import '../../theme/index';

$component: md-component('management-list', (
    color: (
        header: (color, neutral, primary),
        content: (color, neutral, primary, alt),
        checkmark: (color, black),
    ),
    bg-color: (
        content: (color, white),
        checkbox: (color, white),
    ),
    border: (
        checkbox: (border, checkbox-input, default),
    ),
    font: (
        default: (font, default),
        column: (font, din-regular),
        size: (
            default: (font, size, default),
            small: (font, size, small),
        ),
        line-height: (
            default: 5*$grid,
            small: 4*$grid,
            sort: 3*$grid,
        )
    ),
    size: (
        column: (
            basis: (size, management-list, column, basis),
        ),
        row: (
            height: (size, management-list, row, height),
        ),
        select-all: (
            width: (size, management-list, select-all, width),
        ),
    ),
));

.list-container {
    @include md-box(flex, relative);
    width: 100%;

    .column {
        @include md-box(block, relative);
        flex-basis: size(column, basis);
        
        &.auto-width {
            flex-grow: 1;
            flex-shrink: 0;
        }
        
        &.checkbox {
            flex: 0 0 size(select-all, width);
        }
        
        &:first-child {
            .column-header {
                padding-left: 5*$gutter;
            }

            .column-content {
                padding-left: 5*$gutter;
            }
        }
        
        .column-header {
            @include md-box(block, relative);
            @include md-button-reset();
            
            font-family: font(column);
            font-size: font(size, small);
            line-height: font(line-height, small);
            color: $color-text-default;
            
            padding-top: 2*$gutter;
            padding-right: 5*$gutter;
            vertical-align: bottom;            

            white-space: nowrap;
            
            &.checkbox {
                padding-right: 3*$gutter;            
            }

            .checkbox-empty {
                height: font(line-height, small);
            }

            &.checkbox-empty {
                cursor: initial;
            }

            .sort-direction::before {
                line-height: font(line-height, sort);
                margin-left: 2*$gutter;
            }
        }

        .column-content {
            @include md-box(inline-block, relative);
            font-family: $font-family-default;
            font-size: font(size, default);
            line-height: font(line-height, small);
            color: $color-text-default;
            background-color: $color-bg-management-list;

            vertical-align: bottom;

            width: 100%;
            height: size(row, height);
            padding-top: 4*$gutter;
            padding-right: 5*$gutter;
            margin-top: 2*$gutter;
            
            white-space: nowrap;

            &:first-child {
                padding-left: 5*$gutter;
            }

            &.checkbox {
                padding-right: 3*$gutter;
            }
        }

        .select-all-label {
            display: none;
        }
    }
}
