@import '../../common/overrides';
@import '../../common/mixins';

$column-font-family: join('DIN-Regular', $font-family-base);

$header-color: md-color(shade, 3);
$content-color: md-color(shade, 4);
$checkmark-color: md-color(shade, dark);

$content-bg-color: md-color(shade, f);
$checkbox-bg-color: md-color(shade, f);

$checkbox-border: 1px solid md-color(shade, 6);

$header-line-height: 4*$grid;

.list-container {
    @include md-box(flex, relative);
    width: 100%;

    .column {
        @include md-box(block, relative);
        flex-basis: 100px;
        
        &.auto-width {
            flex-grow: 1;
            flex-shrink: 0;
        }
        
        &.checkbox {
            flex: 0 0 32px;
        }
        
        &:first-child {
            .column-header {
                padding-left: 5*$gutter;
            }

            .column-content {
                padding-left: 5*$gutter;
            }
        }
        
        .column-header {
            @include md-box(block, relative);
            @include md-button-reset();
            
            font-family: $column-font-family;
            font-size: 12px;
            line-height: $header-line-height;
            color: $header-color;
            
            padding-top: 2*$gutter;
            padding-right: 5*$gutter;

            white-space: nowrap;
            
            &.checkbox {
                padding-right: 3*$gutter;            
            }

            .checkbox-empty {
                height: $header-line-height;
            }

            &.checkbox-empty {
                cursor: initial;
            }

            .sort-direction {
                margin-left: 2*$gutter;
            }
        }

        .column-content {
            @include md-box(inline-block, relative);
            font-family: $font-family-base;
            font-size: 14px;
            line-height: 16px;
            color: $content-color;
            background-color: $content-bg-color;

            vertical-align: bottom;

            width: 100%;
            height: 12*$grid;
            padding-top: 4*$gutter;
            padding-right: 5*$gutter;
            margin-top: 2*$gutter;
            
            white-space: nowrap;

            &:first-child {
                padding-left: 5*$gutter;
            }

            &.checkbox {
                padding-right: 3*$gutter;
            }
        }

        .select-all-label {
            display: none;
        }
    }

    .list-checkbox-container {
        .list-checkbox-button {
            border: $checkbox-border;
            background-color: $checkbox-bg-color;
        }
        
        .list-checkbox-checkmark {
            color: $checkmark-color;
        }
    }

    .list-checkbox-container:hover {
        .list-checkbox-button {
            border: $checkbox-border;
            background-color: $checkbox-bg-color;
        }
        
        .list-checkbox-checkmark {
            color: $checkmark-color;
        }
    }
}
